@charset "utf-8";
@import 'reset.css';
@import 'fonts.css';
.BORDERED {
  border: 1px solid red;
}
.BORDEREDgreen {
  border: 1px solid yellowgreen;
}
html {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
h2,
h3 {
  font-family: 'Playfair Display', serif;
}
h2 {
  font-size: 32px;
  font-weight: 900;
}
h3 {
  font-size: 22px;
  font-weight: 700;
  color: #413d4b;
  text-transform: uppercase;
}
h4 {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #413d4b;
}
textarea {
  resize: none;
}
input,
textarea {
  transition: 0.2s;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  outline: none;
}
input:focus::placeholder,
textarea:focus::placeholder,
input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
  transition: 0.2s;
}
.title {
  font-family: 'Playfair Display', serif;
}
.max_width {
  max-width: 940px;
}
.logo-wrapper {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/icon/header_logo.png);
  background-position: left center;
  background-repeat: no-repeat;
}
.logo-wrapper span {
  margin-left: 60px;
  line-height: 50px;
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
  background-image: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  display: block;
  text-transform: uppercase;
  color: #00e0d0;
  font-family: "Hammersmith One", sans-serif;
  padding: 1em 2em;
  width: max-content;
  margin: auto;
  border: 1px solid #00e0d0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: #00e0d0;
  color: #fff;
}
.separator {
  width: 50px;
  height: 1px;
  background-color: #00e0d1;
  margin: 25px auto;
}
.separator--grey {
  width: 50px;
  margin: 25px auto;
  height: 2px;
  background-color: rgba(65, 61, 75, 0.3);
}
.dots {
  width: max-content;
  margin: auto;
  margin-top: 55px;
}
.dots .dot {
  width: 10px;
  height: 10px;
  border: 1px solid #c2c2c2;
  border-radius: 50%;
  transition: 0.25s;
  margin: auto 5px;
  display: inline-block;
}
.dots .dot:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0 0 5px #c2c2c279;
}
.dots .dot--active {
  width: 10px;
  height: 10px;
  background-color: #00e0d0;
}
.dark-block {
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover;
}
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(48, 35, 95, 0.8);
  box-shadow: 0 2px 8px #251b4b;
}
.header-inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
}
.menu {
  align-self: stretch;
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
}
.menu__burger {
  display: none;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 224, 209, 0.5);
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.menu__burger:active {
  transform: scale(0.9);
}
.menu__burger span {
  width: 50%;
  border-bottom: 2px solid #00beb2;
  position: absolute;
  top: 50%;
  left: 25%;
}
.menu__burger span::before,
.menu__burger span::after {
  content: "";
  width: 100%;
  border-bottom: 2px solid #00beb2;
  position: absolute;
  transition: 0.3s;
}
.menu__burger span::before {
  bottom: 6px;
}
.menu__burger span::after {
  top: 7px;
}
.menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  color: #ffffff;
  transition: 0.3s;
}
.menu a:hover {
  color: #00e0d0;
  text-shadow: 0 0 7px #00e0d0;
}
#home {
  padding: 38vh 0 20vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url(../img/bg/bg3.png);
}
.about-us {
  max-width: 770px;
  margin: auto;
  position: relative;
  top: calc(40% - 20px - 16px - 12px - 50px);
}
.about-us__content {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}
.about-us__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.white-block {
  padding: 70px 0;
}
.our-story {
  max-width: 870px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.our-story__img {
  margin-right: 30px;
}
.our-story__content {
  max-width: 540px;
}
.our-story__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #413d4b;
  opacity: 0.75;
}
.our-story__text p {
  margin: 20px auto;
}
.our-story__btn {
  margin-left: 0;
}
#about__video {
  background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url(../img/bg/bg2.png);
  height: 70vh;
}
.play-video-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-video {
  width: max-content;
  margin: auto;
  text-align: center;
}
.play-video__title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 60px;
}
.play-video img {
  transition: 0.5s;
}
.play-video img:hover {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
  cursor: pointer;
}
.expertise-block {
  text-align: center;
  margin: auto;
}
.expertise-block__subtitle {
  font-size: 14px;
  color: rgba(47, 45, 53, 0.775);
  margin-top: 10px;
}
.expertise-block__separator {
  margin: 21px auto;
}
.expertise-grid {
  display: flex;
  flex-flow: row wrap;
  margin-left: 1px;
  background-color: rgba(128, 128, 128, 0.35);
}
.expertise-grid h4,
.expertise-grid p {
  margin-top: 22px;
}
.expertise-grid img {
  margin-bottom: 20px;
}
.expertise-grid__item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  flex: 1 1 26%;
}
.expertise-grid__item:nth-of-type(1) {
  margin: 0 1px 1px 0;
}
.expertise-grid__item:nth-of-type(2) {
  margin: 0 1px 1px 1px;
}
.expertise-grid__item:nth-of-type(3) {
  margin: 0 0 1px 1px;
}
.expertise-grid__item:nth-of-type(4) {
  margin: 1px 1px 0 0;
}
.expertise-grid__item:nth-of-type(5) {
  margin: 1px 1px 0 1px;
}
.expertise-grid__item:nth-of-type(6) {
  margin: 1px 0 0 1px;
}
.expertise-grid__text {
  color: rgba(51, 51, 51, 0.75);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
#teams {
  padding: 70px 0;
  background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url(../img/bg/bg3.png);
  width: 100%;
}
.our-team {
  text-align: center;
  margin: auto;
}
.our-team__title {
  color: #ffffff;
  margin-bottom: 10px;
}
.our-team__subtitle {
  color: #f9f9f9;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 400;
}
.our-team__separator {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 40px;
}
.our-team__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 55px;
}
.our-team__speech {
  color: #f3f3f3;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}
.our-team-member {
  flex-basis: 23%;
  min-width: 165px;
}
.our-team-member__img {
  height: 220px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.our-team-member__img img {
  display: none;
}
.our-team-member__text-wrapper {
  border: 1px solid rgba(225, 225, 225, 0.5);
  text-transform: uppercase;
  padding: 20px 0;
}
.our-team-member__name {
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 10px;
}
.our-team-member__post {
  font-size: 13px;
  font-weight: 300;
  color: rgba(250, 250, 250, 0.7);
}
.our-works {
  width: 100%;
}
.our-works__header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 60px;
}
.our-works__see-other {
  color: #413d4b;
  font-size: 14px;
  font-weight: 300;
}
.our-works__see-other:hover {
  font-weight: 400;
}
.our-works__see-other::after {
  content: "  \25BA";
  font-size: 0.9em;
}
.our-works__row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 50px;
}
.our-works__item-wrapper {
  flex-basis: 16.666%;
  min-width: 125px;
  margin: auto;
}
.our-works__item {
  display: block;
  width: 100%;
}
#people_say {
  padding: 30px 0 70px;
  background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url(../img/bg/bg4.png);
}
.feedback {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.feedback__text {
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 770px;
  margin-bottom: 50px;
}
.feedback__name {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feedback__post {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.feedback-carousel {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.feedback-carousel__arrow-wrapper {
  width: 25px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.feedback-carousel__arrow-wrapper:hover div {
  cursor: pointer;
  box-shadow: 0 0 3px #fff, inset 0 0 3px #fff;
}
.feedback-carousel__arrow-wrapper div {
  position: absolute;
  border: 1px solid white;
  width: 200px;
  height: 200px;
  margin-top: calc(50% - 1px);
  transform-origin: left top;
  transition: 0.2s;
}
.feedback-carousel__arrow-left {
  transform: rotate(-45deg);
}
.feedback-carousel__arrow-right {
  margin-left: calc(100% - 1px);
  transform: rotate(135deg);
}
.feedback-carousel__client {
  margin: auto 10px;
  transform: scale(0.7);
  transition: 0.3s;
}
.feedback-carousel__client:hover {
  cursor: pointer;
  transform: scale(1);
}
.feedback-carousel__avatar {
  width: 100%;
  border-radius: 50%;
}
.quote {
  font-size: 100px;
  font-family: 'Playfair Display', serif;
  color: #fff;
  margin: auto;
  width: min-content;
}
.clients-inner {
  margin: auto;
}
.clients-inner__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.clients-inner__title {
  flex-basis: 50%;
}
.clients-inner__title:nth-of-type(2) {
  flex-basis: 40%;
}
.clients-inner__body {
  display: flex;
  justify-content: space-between;
}
.form {
  flex-basis: 50%;
  display: flex;
  flex-flow: column;
}
.form input,
.form textarea {
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  padding-left: 15px;
}
.form input::placeholder,
.form textarea::placeholder,
.form input::placeholder,
.form textarea::placeholder {
  color: rgba(65, 61, 75, 0.65);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
.form input {
  height: 45px;
}
.form__message {
  height: 200px;
  padding-top: 15px;
}
.form__btn {
  margin-left: 0;
}
.our-clients {
  flex-basis: 40%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.our-clients__col {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
#contact {
  background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url(../img/bg/bg5.png);
  padding: 85px 0;
}
.contact-info {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-flow: column;
  color: #ffffff;
}
.contact-info__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 900;
}
.contact-info__header .logo-wrapper {
  flex-basis: 28%;
}
.contact-info__title {
  flex-basis: 28%;
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
}
.contact-info__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 50px;
}
.contact-info__text {
  flex-basis: 28%;
}
.contact-info__address {
  flex-basis: 28%;
}
.contact-info__location {
  background: url(../img/icon/location.png) no-repeat left 5px;
  padding-left: 30px;
  margin-bottom: 10px;
}
.contact-info__phone {
  background: url(../img/icon/phone.png) no-repeat left center;
  padding-left: 30px;
  color: #fff;
}
.contact-info__phone:hover {
  color: #b8b8b8;
}
.contact-info__follow {
  flex-basis: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-info__subscribe {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.contact-info__subscribe-input {
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  flex-basis: 65%;
  color: #fff;
  padding-left: 15px;
}
.contact-info__subscribe-input:focus {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}
.contact-info__subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  font-weight: 300;
}
.contact-info__subscribe-btn {
  background: url(../img/icon/paper.png) no-repeat center / auto;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  height: 47px;
  flex-basis: 25%;
  margin-right: 0;
}
.contact-info__subscribe-btn:hover {
  background-color: rgba(255, 255, 255, 0.65);
}
.contact-info__social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.contact-info__social-item {
  transform: scale(0.9);
  transition: 0.15s;
}
.contact-info__social-item:hover {
  transform: scale(1);
}
.contact-info__social-img {
  display: block;
}
.contact-info__footer {
  display: flex;
  justify-content: space-between;
}
.contact-info__links {
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
}
.contact-info__links-item {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
.contact-info__links-item:hover {
  color: #b8b8b8;
}
@media (max-width: 850px) {
  .expertise-grid__item:nth-of-type(1) {
    margin: 0 1px 1px 0;
  }
  .expertise-grid__item:nth-of-type(2) {
    margin: 0 0 1px 1px;
  }
  .expertise-grid__item:nth-of-type(3) {
    margin: 1px 1px 1px 0;
  }
  .expertise-grid__item:nth-of-type(4) {
    margin: 1px 0 1px 1px;
  }
  .expertise-grid__item:nth-of-type(5) {
    margin: 1px 1px 0 0;
  }
  .expertise-grid__item:nth-of-type(6) {
    margin: 1px 0 0 1px;
  }
}
@media (max-width: 750px) {
  .our-team__row {
    width: 70%;
    margin: auto;
  }
  .our-team-member {
    flex-basis: 45%;
    margin-bottom: 30px;
  }
  .menu {
    position: fixed;
    box-shadow: 0 0 12px #30235f;
    flex-flow: column;
    top: 80px;
    right: -105%;
    width: 90%;
    border-radius: 15px 0 0 15px;
    background-color: rgba(48, 35, 95, 0.8);
    transition: 0.4s ease;
  }
  .menu a {
    font-size: 32px;
    padding: 12px 60px;
    text-align: right;
  }
  .menu__burger {
    display: block;
  }
  .menu--active {
    right: 0;
  }
  .burger--active span {
    border-bottom: none;
    transition: 0.3s;
  }
  .burger--active span::before,
  .burger--active span::after {
    transition: 0.3s;
    transform-origin: center;
  }
  .burger--active span::before {
    bottom: -1px;
    transform: rotate(45deg);
  }
  .burger--active span::after {
    top: -1px;
    transform: rotate(-45deg);
  }
}
@media (max-width: 650px) {
  .clients-inner__body {
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .our-clients {
    justify-content: center;
  }
  .our-clients__img {
    margin-top: 30px;
  }
  .our-clients__col {
    margin: auto 5%;
  }
  .form__btn {
    margin-left: auto;
  }
  .clients-inner__title:nth-of-type(2) {
    display: none;
  }
  .clients-inner__title:nth-of-type(1) {
    margin: auto;
    text-align: center;
  }
  .clients-inner__title--mobile {
    margin: 40px auto 20px;
  }
}
@media (min-width: 650px) {
  .clients-inner__title--mobile {
    display: none;
  }
}
@media (max-width: 550px) {
  .our-story__img {
    display: none;
  }
  .our-story__text {
    width: 85%;
    margin: auto;
    text-align: center;
  }
  .our-story__title {
    text-align: center;
  }
  .our-story__btn {
    margin: auto;
  }
}
@media (max-width: 520px) {
  .our-team__row {
    width: fit-content;
    margin: auto;
  }
  .our-team-member {
    flex-basis: 51%;
    margin: auto;
    margin-bottom: 30px;
  }
}
