// $headerMainColor: rgb(240, 240, 240);
$headerMainColor: $colorMetalMedium;

.header {
  margin-bottom: $mgL;
  // padding-bottom: $mgS;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  // background-color: transparentize($color: $colorMetalMedium, $amount: 0.6);
  // box-shadow: 0 0 7px 4px $headerMainColor;

  // &::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   // background: 
  //   //   url(../img/bg/bg1.jpg) no-repeat center / cover,
  //   //   linear-gradient(180deg, rgba(193,185,174,0) 50%, rgba(207,209,209,1) 70%);
  //   background: url(../img/bg/bg1.jpg) no-repeat center / cover;
  //   opacity: 0.25;
  //   filter: blur(2px);
  //   // background: rgb(193,185,174);
  //   // background: linear-gradient(180deg, rgba(193,185,174,0) 66%, rgba(207,209,209,1) 76%);
  //   // background-color: transparentize($color: $colorMetalLightenDark, $amount: 0);
  // }

  &__top {
    background-color: transparentize($color: $colorMetalMedium, $amount: 0.6);
    box-shadow: 0 0 7px 4px $headerMainColor;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      // background: 
      //   url(../img/bg/bg1.jpg) no-repeat center / cover,
      //   linear-gradient(180deg, rgba(193,185,174,0) 50%, rgba(207,209,209,1) 70%);
      background: url(../img/bg/bg1.jpg) no-repeat center / cover;
      opacity: 0.25;
      filter: blur(2px);
      // background: rgb(193,185,174);
      // background: linear-gradient(180deg, rgba(193,185,174,0) 66%, rgba(207,209,209,1) 76%);
      // background-color: transparentize($color: $colorMetalLightenDark, $amount: 0);
    }
  }
  
  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
    // background-color: #C1C3C4;
    position: relative;
    // &::before, &::after {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   background-color: #C1C3C4;
    //   height: 100%;
    //   width: 50vw;
    // }
    // &::before {
    //   right: 100%;
    // }
    // &::after {
    //   left: 100%;
    // }



    // background-color: $headerMainColor;
    // box-shadow: 0 0 7px 4px $headerMainColor;
    // &::before, &::after {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   height: 100%;
    //   width: 50vw;
    //   background-color: $headerMainColor;
    //   box-shadow: 0 0 7px 4px $headerMainColor;
    // }
    &::before {
      right: 100%;
    }
    &::after {
      left: 100%;
    }


    // &::before {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   z-index: -1;
    //   top: 0;
    //   left: 50%;
    //   height: 100%;
    //   width: 100vw;
    //   // background-color: red;
    //   transform: translateX(-50%);
    //   background: rgb(179,185,186);
    //   background: linear-gradient(180deg, rgba(179,185,186,0.8911939775910365) 0%, rgba(207,209,209,1) 80%, rgba(207,209,209,0) 100%);
    // }
  }
  &__logo {
    margin-right: auto;
    margin-left: 0;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  &__call-me {
    margin-left: 30px;
  }
  &__cart {
    margin-left: 60px;

  }
  &__nav {
    padding-top: 15px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fzXm;
  &__item {
    position: relative;
  }
  &__item::after {
    content: '';
    background-color: $colorMetalDark;
    display: block;
    height: 2px;
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: 0;
    transition: 0.15s;
    transform-origin: center bottom;
  }
  &__item:hover::after {
    transform: scale(2);
  }
  &__item > a {
    display: inline-block;
    padding: 6px 0;
  }
  &__item + &__item {
    margin-left: 10%;
  }
}