@import "basic/variables";
@import "basic/mixins";

@import "basic/fonts";
@import "basic/reset";
// @import "/node_modules/normalize.css/normalize.css";
@import "basic/basic";
// @import "basic/animations";
@import "blocks/header";
@import "blocks/modal";
@import "blocks/quiz";


@media (min-width: 320px) {
  .main {
    background: url(../img/bg/bg-mobile2.jpg) no-repeat;  //TODO подшаманить размер и положение
    // background-image: url(../img/bg/bg-mobile2.jpg);
    background-size: 100% auto;
    background-position: center 30%;
    padding-top: get-vw(32);
    position: relative;
    &__content {
      padding-top: get-vw(32);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
    &__text {
      text-align: right;
      padding-right: get-vw(16);
      padding-left: get-vw(16);
      flex-grow: 1;
    }
    &__intro {
      font-size: $fz-mob-s;
      margin-bottom: get-vw(9);
    }
    &__title {
      font-size: $fz-mob-l;
      font-family: $ff-secondary;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 1.33;
    }
    &__features {
      order: 3;
      background-color: $color-primary;
      width: 100%;
      display: flex;  
      justify-content: space-between;
      align-items: flex-start;
      font-size: $fz-mob-s;
      text-align: center;
      padding: get-vw(14) get-vw(10) get-vw(20);
      counter-reset: featuresCount;
    }
    &__feature {
      display: flex;
      flex-direction: column;
      flex-basis: 32%;
      &::before {
        content: counter(featuresCount);
        counter-increment: featuresCount;
        order: -2;
        font-size: get-vw(32);
        line-height: 1;
        font-family: $ff-secondary;
        font-weight: 900;
        color: $color-grey;
        margin-bottom: get-vw(11);
      }
      &::after {
        content: '';
        height: 1px;
        width: 80%;
        margin-left: 10%;
        background-color: $color-grey2;
        order: -1;
        margin-bottom: 3px;
      }
    }
    &__btn {
      padding: get-vw(16);
      margin-right: get-vw(16);
      margin-left: get-vw(16);
      width: calc(100% - #{get-vw(32)});
      margin-bottom: get-vw(16);
      &:active {
        transform: scale(0.95);
      }
      &:hover, &:focus {
        box-shadow: 0 0 10px 0 $color-accent;
      }
    }
  }
}




@media (min-width: 768px) {
  .main {
    // background: no-repeat 60% bottom / contain;  //TODO доделать???
    background-image: url(../img/bg/bg-full.jpg);
    // background-size: auto 100%;
    // background-position: top center;
    &__content {
      padding-top: get-vw-pc(19);
      justify-content: flex-start;
      left: auto;
      bottom: auto;
      width: get-vw-pc(740);
    }
    &__text {
      text-align: left;
      padding-left: 0;
      flex-grow: 0;
    }
    &__intro {
      font-size: $fz-pc-s;
      // margin-bottom: get-vw(9);
    }
    &__title {
      font-size: $fz-pc-xl;
      padding-right: get-vw-pc(48);
      & > br {
        display: none;
      }
    }
    &__features {
      position: relative;
      order: 0;
      background-color: transparent;
      font-size: $fz-pc-s;
      padding: get-vw-pc(40) get-vw-pc(40) get-vw-pc(30) 0;
      &::before {
        content: '';
        position: absolute;
        top: get-vw-pc(20);
        left: 0;
        display: block;
        height: 1px;
        background-color: $color-grey2;
        width: get-vw-pc(47);
      }
    }
    &__feature {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      &::before {
        order: 0;
        font-size: $fz-pc-xxl;
        margin-bottom: get-vw-pc(10);
        margin-right: get-vw-pc(10);
      }
      &::after {
        content: none;
      }
    }
    &__btn {
      padding: get-vw-pc(16);
      width: auto;
      margin: 0 auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
}


@media (min-width: 768px) and (min-aspect-ratio: 16/10) and (max-aspect-ratio: 16/6) {
  .main {
    background-size: cover;
    background-position: center;
    &__title {
      font-size: get-vw-pc(30);
    }
    &__text {
      padding-right: get-vw-pc(70);
    }
    &__features {
      justify-content: flex-end;
      padding: 0 get-vw-pc(30) get-vw-pc(10) 0;
      &::before {
        content: none;
      }
    }
    &__feature {
      flex-basis: 30%;
    }
  }
}

// @media (max-aspect-ratio: 16/6) {
//   .header {
//     background-color: red !important;
//   }
// }


@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {

}
@media (max-width: 480px) {

}

@import "blocks/footer";