@font-face {
  font-family: 'futuralightc';
  font-display: swap;
  src: url('../fonts/futuralightc.woff2') format('woff2'),
    url('../fonts/futuralightc.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}