$fontMain: 'Prosto One', cursive;
$fontSecondary: 'futuralightc', sans-serif;

$colorAccent: #FF4D15;
$colorBiege: #E4CBB7;

$colorLight: #ffffff;
$colorDark: #000000;
$colorDark2: #2F3B46;
$colorDark3: #474443;
$colorGrey: #606D7E;
$colorGrey2: #999999;

$brsCommon: 7px;

$transitionMedium: .25s;

$filterItemHeight: 20px;
$filterListCountVisible: 9;
$catalogTitlesHeight: 40px;
