body {
    margin: 0;
    background-color: beige;
}
h2 {
    margin-left: 5vw;
    font-size: 2em;
}
li, li > a {
    font-size: 23px;
}
.page {
    display: flex;
}
.portfolio,
.elements {
    width: 50%;
}