body {
  min-height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.map {
  position: relative;
  width: 100%;
  height: 600px;
}

.map iframe {
  width: 100%;
  height: 100%;
}
