.footer {
  background-color: #F5F5F5;
  padding: 36px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 12px;
  }
  &__company {

  }
  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__policy {
    text-decoration: underline;
  }
}


@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {

}
@media (max-width: 767px) {
  .footer {
    &__inner {
      flex-direction: column;
    }
    &__company {
      margin-bottom: 10px;
    }
    &__logo {
      position: static;
      transform: none;
      order: -1;
      margin-bottom: 15px;
    }
  }
}