
.form-promo {
  height: 48px;
  display: flex;
  padding-left: 25px;
  &__input, &__btn {
    height: 48px;
    border: none;
    display: block;
    outline: none;
  }
  &__input-field {
    max-width: 290px;
    width: 100%;
    padding-right: 30px;
    @include skewedBefore(#ffffff);
  }
  &__input {
    padding: 14px;
    width: 100%;
    font-size: 14px;
    color: #000000;
    &::placeholder {
      color: #CCCCCC;
    }
  }
  &__btn {
    background-color: $colorAccent;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    // padding-left: 30px;
    // padding-right: 15px;
    padding: 0 15px 0 30px;
    cursor: pointer;
    @include skewedBefore($colorAccent);
  }
}



@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {

}
@media (max-width: 767px) {
  .form-promo {
    padding-right: 25px;
    &__input {
      font-size: 10px;
    }
    &__input-field {
      font-size: 10px;
      &::before {
        width: 114%;
        left: -7%;
      }
    }
    &__btn {
      font-size: 10px;
      padding-left: 10px;
      padding-right: 8px;
      &::before {
        width: 120%;
        left: -10%;
      }
    }
  }
}