.gate-form {
  display: flex;
  justify-content: space-between;
  counter-set: cardTitle;
  &__main {
    flex-grow: 1;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    flex-grow: 1;
    margin-right: 32px;
  }
  &__card {
    & + & {
      margin-top: 16px;
    }
  }
  &__card-title {
    background-color: $colorPrimary;
    color: #FFFFFF;
    font-size: 14px;
    padding: 5px 30px 8px;
    margin-left: 21.5px;
    // max-width: fit-content;
    max-width: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    @include skewedBefore($colorPrimary);
    &::after {
      content: counter(cardTitle);
      counter-increment: cardTitle;
      color: $colorAccent;
      font-weight: bold;
      font-size: 18px;
      order: -1;
      display: inline-block;
      margin-right: 5px;
    }
  }
  &__card-body {
    border: 1px solid $colorPrimary;
    padding: 24px 20px 24px 33px;
    &--row {
      display: flex;
    }
  }
  &__card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    & + & {
      margin-top: 8px;
    }
    & > input[type="number"] {
      max-width: 100px;
      width: 100%;
      border: 1px solid #000000;
      background-color: transparent;
      text-align: center;
      font-size: 14px;
      padding: 7px 10px;
      &::placeholder {
        color: #cccccc;
      }
    }
    & > input[type="radio"],
    & > input[type="checkbox"] {
      display: none;
    }
    & > label {
      border: 1px solid #000000;
      width: 24px;
      height: 24px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & > input[type="radio"]:checked + label::after,
    & > input[type="checkbox"]:checked + label::after {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      background-color: $colorAccent;
    }
    & > span {}
  }
  &__img {
    max-width: 438px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      width: 100%;
    }
  }
  &__footer {
    margin-top: 16px;
    display: flex;
    flex-grow: 1;
  }
  &__footer &__card {
    width: 100%;
  }
  &__card-box {
    & + & {
      margin-left: 120px;
    }
  }
  &__card-box-title {
    margin-bottom: 16px;
  }
  &__card-box-row {
    display: flex;
    & > input[type="radio"] {
      display: none;
    }
    & > label {
      cursor: pointer;
      position: relative;
    }
    & > label:not(:first-of-type) {
      margin-left: 28px;
    }
    & > input[type="radio"]:checked + label::after {
      content: '';
      display: block;
      width: 16px;
      height: 11px;
      background: url(../img/icon/tick.svg) no-repeat center / contain;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__card-box-colors {
    // height: 100%;
    display: flex;
    & > input[type="radio"] {
      display: none;
    }
    & > label {
      width: 34px;
      height: 80px;
      cursor: pointer;
      position: relative;
    }
    & > label:not(:first-of-type) {
      margin-left: 6px;
    }
    & > input[type="radio"]:checked + label {
      outline: 0.5px solid #000000;
    }
    & > input[type="radio"]:checked + label::after {
      content: '';
      display: block;
      width: 16px;
      height: 11px;
      background: url(../img/icon/tick.svg) no-repeat center / contain;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 320px;
    width: 100%;
    margin-left: 32px;
    background-color: $colorDark2;
    color: #FFFFFF;
    padding: 22px 32px;
    font-size: 14px;
    line-height: 19px;
  }
  &__aside-title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  &__aside-desc {
    margin-bottom: 35px;
  }
  &__aside-list {
    margin-bottom: 100px;
    line-height: 20px;
  }
  &__aside-item {}
  &__aside-text {
    margin-bottom: 56px;
    & > .t-lg {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      display: inline-block;
      margin-top: 15px;
    }
  }
  & .btn-wrap {
    width: calc(100% - 50px);
    margin: 0 auto;
    // align-self: ;
  }
  &__submit {
    // width: calc(100% - 50px);
    // margin: 0 auto;
    width: 100%;
    white-space: nowrap;
    display: block;
  }
}




@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}


@media (min-width: 768px) and (max-width: 991px) {
  .gate-form {
    flex-direction: column;
    &__main {
      margin-bottom: 15px;
    }
    &__aside {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-left: 0;
    }

    &__aside-title {
      // float: left;
    }
    &__aside-desc {
      // float: left;
      max-width: 45%;
    }
    &__aside-list {
      float: right;
      margin-top: -15%;
      margin-right: 15%;
    }
    &__aside-item {}
    &__aside-text {
      margin-top: 15%;
      max-width: 50%;
    }
    & .btn-wrap {
      max-width: 400px;
    }
    &__submit {
      max-width: 400px;
      // width: 100%;
    }
  }
}

@media (min-width: 830px) and (max-width: 991px) {
  .gate-form {
    &__aside-list {
      margin-top: -10%;
      margin-right: 25%;
    }
  }
}

@media (max-width: 767px) {
  .gate-form {
    flex-direction: column;
    &__main {
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 480px;
    }
    &__row {
      flex-direction: column;
    }
    &__col {
      margin-right: 0;
    }
    &__img {
      order: -1;
      margin-bottom: 32px;
    }
    & .btn-wrap {
      max-width: 350px;
    }
    &__submit {
      max-width: 350px;
    }
    &__card-body {
      &--row {
        flex-direction: column;
      }
    }
    &__card-box {
      & + & {
        margin-left: 0;
        margin-top: 34px;
      }
    }
    &__card-box-row {
      & > label:not(:first-of-type) {
        margin-left: 8px;
      }
    }
    &__card-box-colors {
      flex-wrap: wrap;
      & > label {
        flex-basis: calc(100% / 9);
        width: getvw(34);
        height: getvw(32);
      }
      & > label:nth-of-type(n+9) {
        margin-top: 8px;
      }
      & > label:nth-of-type(9n) {
        margin-left: 0;
      }
    }
    &__aside {
      position: relative;
      margin-left: 0;
      // width: 100%;
      max-width: none;
      &::before, &::after {
        content: '';
        display: block;
        background-color: $colorDark2;
        position: absolute;
        height: 100%;
        top: 0;
        width: ($containerPadding + 1px);
      }
      &::before {
        left: -#{$containerPadding};
      }
      &::after {
        right: -#{$containerPadding};
      }
    }
  }
}

@media (max-width: 480px) {
  .gate-form {
    &__card-box-colors {
      flex-wrap: wrap;
      & > label {
        flex-basis: calc(100% / 7);
        // width: getvw(34);
        // height: getvw(32);
      }
      & > label:nth-of-type(n+9) {
        margin-top: 0;
      }
      // & > label:nth-of-type(9n) {
      //   margin-left: 0;
      // }
      & > label:not(:first-of-type) {
        margin-left: 6px;
      }
      & > label:nth-of-type(n+7) {
        margin-top: 8px;
      }
      & > label:nth-of-type(7n) {
        margin-left: 0;
      }

    }
  }
}