.header {
  background-color: $colorDark;
  padding: 8px 32px 8px 26px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {

  }
  &__tel {
    font-weight: 800;
    font-size: 24px;
    color: #ffffff;
  }
}

.logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  &__link {}
  &__img {
    max-width: 210px;
    width: 100%;
    margin-right: 33px;
  }
  &__desc {
    background-image: url(../img/dash-rect.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 12px 30px 12px 38px;
    & > img {
      display: inline-block;
      height: 0.75em;
      vertical-align: middle;
      margin-bottom: 0.2em;
    }
  }
}


@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    &__desc {
      font-size: 12px;
      max-width: 270px;
    }
  }
}
@media (max-width: 767px) {

}
@media (max-width: 767px) {
  .header {
    &__tel {
      font-size: getvw(14);
    }
  }
  .logo {
    &__img {
      max-width: getvw(112);
    }
    &__desc {
      display: none;
    }
  }
}