.header {
  background-color: $colorDark;
  padding: 8px 32px 8px 26px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {

  }
  &__contacts {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__mail {
    font-size: 13px;
  }
  &__tel {
    font-weight: 800;
    font-size: 24px;
    // color: #ffffff;
  }
  &__info {
    align-self: flex-start;
    margin-left: 5px;
  }
}

.header-promo {
  line-height: 1.5;
  width: 100%;
  // margin-bottom: 2px;
  text-align: center;
  background: #ffa500;
  padding: 10px 0px;
  // font-family: sans-serif;
  &__text {
    font-size: 22px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    padding-right: 75px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  &__link {
    font-size: 16px;
    display: inline-block;
    padding: 4px 60px;
    cursor: pointer;
    vertical-align: middle;
    color: #fff !important;
    border: none;
    border-radius: 7px;
    background-color: #00396f;
    font-weight: bolder;
    box-shadow: 3px 3px #a76126;
    height: 30px;
    text-decoration: none;
  }
  @media (max-width: 580px) {
    .header-promo {
      &__text {
        width: 100%;
        padding-right: 0;
        padding-bottom: 10px;
      }
    }
  }
}

.logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  &__link {}
  &__img {
    max-width: 210px;
    width: 100%;
    margin-right: 33px;
  }
  &__desc {
    font-size: 13px;
    background-image: url(../img/dash-rect.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 12px 30px 12px 38px;
    & > img {
      display: inline-block;
      height: 0.75em;
      vertical-align: middle;
      margin-bottom: 0.1em;
    }
  }
}


@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    &__tel {
      font-size: 22px;
    }
  }
  .logo {
    &__desc {
      font-size: 12px;
      // max-width: 270px;
    }
  }
}

@media (max-width: 850px) {
  .logo {
    &__desc {
      font-size: 12px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 16px 32px 16px 26px;
    &__tel {
      font-size: getvw(13);
    }
    &__mail {
      display: none;
    }
  }
  .logo {
    &__img {
      max-width: getvw(112);
    }
    &__desc {
      display: none;
    }
  }
}