.top {
  background: url(../img/bg/bg.jpg) no-repeat center top;
  background-size: cover;
  position: relative;
  z-index: 1;
  // padding-bottom: 10px;
  @media (max-width: 1700px) {
    // background-size: auto 67%;
  }
  &__inner {
    padding-top: 105px;
    padding-bottom: 225px;
    color: #FFFFFF;
    position: relative;
  }
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: getlh(36, 49);
    text-transform: uppercase;
    margin-bottom: 21px;
    & > img {
      display: inline-block;
      height: 0.8em;
    }
  }
  &__subtitle {
    font-size: 16px;
    margin-bottom: 45px;
  }
  &__form {
    // display: block;
  }
  &__label {
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 205px;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__label-logo {
    max-width: 120px;
    width: 100%;
    // position: absolute;
  }
  &__label-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: circleLabel 10s linear infinite;
  }
}


@keyframes circleLabel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {

}
@media (max-width: 480px) {
  .top {
    background-color: rgb(193,185,174);
    background-image: 
      linear-gradient(180deg, rgba(193,185,174,1) 95%, rgba(0,0,0,0) 100%),
      url(../img/bg/bg.jpg);

    background-size: 100% 65%, 150% auto;
    background-position: center top, right bottom;
    &__inner {
      padding-top: getvw(40);
      padding-bottom: getvw(200);
    }
    &__title {
      font-size: getvw(18);
    }
    &__subtitle {
      font-size: getvw(13);
    }
    &__label {
      animation: none;
      display: none;
    }
  }
}