body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/*Plugins*/

/* Global styles */

@font-face {
  font-family: "Kudriashov";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Kudriashov/Kudriashov.woff2") format("woff2"), url("../fonts/Kudriashov/Kudriashov.woff") format("woff");
}

/*html {
  overflow-x: hidden;
}
*/
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background-color: #363636;
  color: #ffffff;
}
body.hidden{
  overflow: hidden;
}

.main {
  width: 100%;
}

main,
header,
footer {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
}

.container-wide {
  width: 100%;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.icon {
  display: inline-block;
}

.col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

.ml-a {
  margin-left: auto;
}

.xs-block {
  display: none !important;
}

.xs-flex {
  display: none;
}

/* Header */

.header {
  z-index: 10;
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #c9b9ba;
}

.header__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  padding: .5em 15px .5em 5em;
  border-radius: 50px;
  font-size: 14px;
  border: 1px solid #F5DE0B;
  position: relative;
  margin-left: 10%;
}

.header-btn img {
  position: absolute;
  top: -.8em;
  left: -2em;
  max-width: 30%;
  width: auto;
}

.header-btn__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}



.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  max-width: 100px;
  /* margin-right: 10px; */
  margin-right: 80px;
}

.logo__text {
  font-size: 14px;
  max-width: 260px;
}
.logo__text.xs-show {
  display: none;
}

.messengers {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.messengers img {
  height: 40px;
  width: 40px;
}

.company-info {
  font-size: 14px;
  margin-left: 100px;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* text-align: center; */
}

.company__phone {
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

.company__text {
  font-size: 16px;
  margin-top: 2px;
}

.company__text.xs-show {
  display: none;
}

.company__text::before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: middle;
  border-radius: 50px;
  background-image: -o-linear-gradient(bottom, #ffa800 0%, #ffe09d 59%, #ffe7b9 96%, #fff3dc 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffa800), color-stop(59%, #ffe09d), color-stop(96%, #ffe7b9), to(#fff3dc));
  background-image: linear-gradient(0deg, #ffa800 0%, #ffe09d 59%, #ffe7b9 96%, #fff3dc 100%);
  margin-right: 5px;
}
.company__text::before {
  /* content: none; */
}

.undrln {
  border-bottom: 1px solid;
  font-size: 14px;
  margin-bottom: 0.2em;
}

/* hero */

.hero {
  height: 100%;
  width: 100%;
  background-image: url(../img/v.png);
  background-size: auto 80%;
  background-repeat: no-repeat;
  /* padding-top: 150px; */
  padding-top: 230px;
  padding-bottom: 100px;
  position: relative;
  background-position: left 85px;
}

.hero__content {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

.hero__title {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Kudriashov";
  /* margin-bottom: 90px; */
  margin-bottom: 10vmin;
  position: relative;
  z-index: 2;
}

.hero__title .xs-show {
  display: none;
}

.hero__title span {
  color: #f4ce82;
}

.hero__subtitle {
  font-size: 24px;
  position: relative;
  z-index: 3;
  /* margin-bottom: 30px; */
  margin-bottom: 40px;
  text-transform: uppercase;
}

.hero__img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 4%;
  width: 100%;
  max-width: 1400px;
}

.hero__img img {
  position: absolute;
  top: 0;
  right: -5%;
  max-width: 1400px;
  width: 65vmax;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;

}

.hero__list-title {
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 700;
}

.hero__item {
  margin-bottom: 20px;
  font-size: 24px;
  position: relative;
  padding: 2px 0 2px 18px;
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; */
}

.hero__item::before {
  content: '';
  display: block;
  width: 8px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffac0a), to(#ffe7b9));
  background-image: -o-linear-gradient(bottom, #ffac0a 0%, #ffe7b9 100%);
  background-image: linear-gradient(0.0deg, #ffac0a 0%, #ffe7b9 100%);
  height: 100%;

}

.hero__item span {
  margin-top: 10px;
  display: inline-block;
}

.hero__item img {
  position: relative;
  width: 80%;
}

.hero__item:first-child img {
  margin-left: 20%;
}

.hero__item:last-child img {
  margin-left: 20%;
  margin-top: -10%;
  margin-bottom: -10%;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__btn-text {
  font-size: 16px;
  padding-top: 15px;
}

.hero__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 45%;
  bottom: 140px;
}

.hero__promo-text {
  text-align: center;
  font-size: 4vmin;
  font-weight: 700;
  padding-bottom: 10px;
}

.gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 7vmin;
  position: relative;
}

.gift__img {
  -webkit-animation: transform-tada 2000ms linear 0ms infinite normal both;
          animation: transform-tada 2000ms linear 0ms infinite normal both;
}

.gift::before {
  content: '+';
  left: -5vmin;
  top: 23%;
  position: absolute;
  font-weight: bold;
  font-size: 45px;
  background-image: -o-linear-gradient(bottom, #ffa800 0%, #ffe09d 59%, #ffe7b9 96%, #fff3dc 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffa800), color-stop(59%, #ffe09d), color-stop(96%, #ffe7b9), to(#fff3dc));
  background-image: linear-gradient(0deg, #ffa800 0%, #ffe09d 59%, #ffe7b9 96%, #fff3dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F5DE0B;
}

@-webkit-keyframes transform-tada {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(-3deg) scale(0.9, 0.9);
            transform: rotate(-3deg) scale(0.9, 0.9);
  }

  20% {
    -webkit-transform: rotate(-3deg) scale(0.9, 0.9);
            transform: rotate(-3deg) scale(0.9, 0.9);
  }

  30% {
    -webkit-transform: rotate(3deg) scale(1.1, 1.1);
            transform: rotate(3deg) scale(1.1, 1.1);
  }

  40% {
    -webkit-transform: rotate(-3deg) scale(1.1, 1.1);
            transform: rotate(-3deg) scale(1.1, 1.1);
  }

  50% {
    -webkit-transform: rotate(3deg) scale(1.1, 1.1);
            transform: rotate(3deg) scale(1.1, 1.1);
  }

  60% {
    -webkit-transform: rotate(-3deg) scale(1.1, 1.1);
            transform: rotate(-3deg) scale(1.1, 1.1);
  }

  70% {
    -webkit-transform: rotate(3deg) scale(1.1, 1.1);
            transform: rotate(3deg) scale(1.1, 1.1);
  }

  80% {
    -webkit-transform: rotate(-3deg) scale(1.1, 1.1);
            transform: rotate(-3deg) scale(1.1, 1.1);
  }

  90% {
    -webkit-transform: rotate(3deg) scale(1.1, 1.1);
            transform: rotate(3deg) scale(1.1, 1.1);
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1, 1);
            transform: rotate(0deg) scale(1, 1);
  }
}

@keyframes transform-tada {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(-3deg) scale(0.9, 0.9);
            transform: rotate(-3deg) scale(0.9, 0.9);
  }

  20% {
    -webkit-transform: rotate(-3deg) scale(0.9, 0.9);
            transform: rotate(-3deg) scale(0.9, 0.9);
  }

  30% {
    -webkit-transform: rotate(3deg) scale(1.1, 1.1);
            transform: rotate(3deg) scale(1.1, 1.1);
  }

  40% {
    -webkit-transform: rotate(-3deg) scale(1.1, 1.1);
            transform: rotate(-3deg) scale(1.1, 1.1);
  }

  50% {
    -webkit-transform: rotate(3deg) scale(1.1, 1.1);
            transform: rotate(3deg) scale(1.1, 1.1);
  }

  60% {
    -webkit-transform: rotate(-3deg) scale(1.1, 1.1);
            transform: rotate(-3deg) scale(1.1, 1.1);
  }

  70% {
    -webkit-transform: rotate(3deg) scale(1.1, 1.1);
            transform: rotate(3deg) scale(1.1, 1.1);
  }

  80% {
    -webkit-transform: rotate(-3deg) scale(1.1, 1.1);
            transform: rotate(-3deg) scale(1.1, 1.1);
  }

  90% {
    -webkit-transform: rotate(3deg) scale(1.1, 1.1);
            transform: rotate(3deg) scale(1.1, 1.1);
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1, 1);
            transform: rotate(0deg) scale(1, 1);
  }
}

/* button */

.btn {
  border: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-image: -o-linear-gradient(bottom, #ffc600 0%, #ffe09d 59%, #ffe7b9 96%, #fff3dc 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc600), color-stop(59%, #ffe09d), color-stop(96%, #ffe7b9), to(#fff3dc));
  background-image: linear-gradient(0deg, #ffc600 0%, #ffe09d 59%, #ffe7b9 96%, #fff3dc 100%);
  text-decoration: none;
  color: #000000;
  overflow: hidden;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn::after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  height: 200%;
  width: 1.5em;
  top: -30%;
  left: -100%;
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-animation: shine 3s ease-in infinite;
          animation: shine 3s ease-in infinite;
}

.btn__title {
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Kudriashov";
}

.btn__text {
  font-size: 14px;
}

.btn--sm {
  padding: .8em 2em;
  text-transform: uppercase;
  line-height: 1.4;
  width: 100%;
  font-family: "Kudriashov";
}

.btn--lg {
  background-image: url(../img/calc.png), -o-linear-gradient(bottom, #ffc600 0%, #ffe09d 59%, #ffe7b9 96%, #fff3dc 100%);
  background-image: url(../img/calc.png), -webkit-gradient(linear, left bottom, left top, from(#ffc600), color-stop(59%, #ffe09d), color-stop(96%, #ffe7b9), to(#fff3dc));
  background-image: url(../img/calc.png), linear-gradient(0deg, #ffc600 0%, #ffe09d 59%, #ffe7b9 96%, #fff3dc 100%);
  background-position: -5px 10px, center;
  background-size: 80px, auto;
  padding: .4em 3em .4em 5.5em;
  font-size: 22px;
  height: 80px;
  line-height: 1.4;
}

.btn-wrap {
  border-radius: 50px;
  border: 1px solid #eeb900;
  display: inline-block;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-wrap--center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes shine {
  0% {
    left: -100%;
  }

  50% {
    left: 110%;
  }

  100% {
    left: 110%;
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }

  50% {
    left: 110%;
  }

  100% {
    left: 110%;
  }
}

/* popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -10;
  opacity: 0;
  overflow-y: auto;
}

.popup.active {
  opacity: 1;
  z-index: 10;
}

.popup__content {
  position: relative;
  max-width: 450px;
  width: 100%;
  padding: 40px;
  color: #000000;
  border-radius: 30px;
  background-color: #e4e4e4;
  -webkit-box-shadow: 0px 12px 70px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 12px 70px 0px rgba(0, 0, 0, 0.4);
  margin: 50px auto;
}

.popup__title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

.popup__text {
  margin-bottom: 20px;
}

.popup__close {
  position: absolute;
  font-size: 35px;
  height: 30px;
  width: 30px;
  line-height: .9;
  text-align: center;
  cursor: pointer;
  right: 15px;
  top: 15px;
}

.popup__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.popup__el-text {
  text-transform: uppercase;
  font-size: 20px;
}

.popup__el-text span {
  color: #a7791f;
  font-weight: 700;
}

.popup__img {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 20px;
  position: relative;
  z-index: 15;
}

.popup__img::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  top: 10px;
  background-color: #ffffff;
  z-index: -1;
  border-radius: 50px;
}

.form__field {
  margin-bottom: 20px;
}

.form__btn {
  width: 100%;
}

.form__policy {
  text-align: center;
  font-size: 11px;
  margin-top: 10px;
  color: #000000;
}

.form__policy a {
  color: inherit;
}

.form__input {
  border: 0;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  padding: 1em;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  outline: none;
}

.noexit {
  position: fixed;
  height: 2px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  background-color: #363636;
}

/* Footer */

.footer {
  position: relative;
  z-index: 3;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #c9b9ba;
}

.footer__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info {
  font-size: 14px;
  margin-left: 5vmin;
}

.social.xs-show {
  display: none;
}

.social__link {
  height: 30px;
  width: 30px;
  background-size: contain;
  display: inline-block;
  margin-left: 10px;
}

@media screen and (min-width: 2000px) {
  /* .hero__promo {
    left: 90vmin;
    bottom: 140px;
  } */
  .hero__promo-text {
    /* color: #000000; */
    -webkit-text-stroke: 2px #000000;
    font-size: 34px;
  }
  .container {
    padding-left: 15%;
    padding-right: 15%;
  }

  .container-wide {
    padding-left: 10%;
    padding-right: 10%;
  }

  .hero__img img {
    right: 10%;
  }
}

@media screen and (max-width: 1690px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .container-wide {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1600px) {
  .hero__promo {
    left: 90vmin;
    bottom: 140px;
  }
  .hero {
    background-position: -100px 85px;
  }

  .hero__content {
    width: 70%;
  }

  .hero__title {
    font-size: 5vmin;
  }

  .hero__subtitle {
    font-size: 2.4vmin;
  }

  .hero__item {
    font-size: 3vmin; /* TODO поправить */
  }

  .hero__item img {
    width: 60%;
  }
}

@media screen and (max-width: 1500px) {
  .hero__img {
    top: 2%;
  }
}

@media screen and (max-width: 1400px) {
  .hero__promo {
    /* left: 90vmin; */
    bottom: 100px;
  }

  .company__phone {
    font-size: 18px;
  }

  .company__text {
    font-size: 12px;
  }

  .hero {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .hero__list {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .hero__item {
    /* margin-left: -5%; */
  }

  .hero__item:last-child img {
    margin-bottom: -5%;
  }

  .hero__btn-text {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }

  .btn--lg {
    font-size: 16px;
    min-height: auto;
  }

  .footer__info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1300px) {
  .hero__title {
    font-size: 4vmin;
  }

  .hero__subtitle {
    font-size: 2vmin;
  }

  .hero__img {
    top: 5%;
  }
}

@media screen and (max-width: 1200px) {
  .header__wrap {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .company-info {
    display: none;
  }
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container-wide {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1150px) {
  .hero__promo {
    position: static;
    /* margin-left: 50%; */
    margin-top: 40px;
    /* margin-right: 0; */
    margin-left: 20%;
    width: 100%;
    /* justify-content: center; */
    /* align-items: flex-end; */
  }
}

@media screen and (max-width: 1100px) {
  .header-btn {
    font-size: 12px;
  }

  .logo img {
    max-width: 80px;
  }

  .logo__text {
    /* display: none; */
  }

  .messengers {
    font-size: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .hero__promo {
    margin-left: 0;
  }

  .hero {
    background-size: auto 50%;
  }

  .hero__content {
    width: 100%;
  }

  .hero__title {
    font-size: 5vmin;
  }

  .hero__subtitle {
    font-size: 2.8vmin;
  }

  .hero__img {
    margin-top: -10%;
    margin-bottom: -3%;
    position: relative;
    top: 0;
    right: auto;
    left: 0;
  }

  .hero__img img {
    position: relative;
    width: 100%;
    right: auto;
  }

  .hero__item {
    margin-left: 0;
  }

  .hero__item img {
    width: 100%;
  }
}

@media screen and (max-width: 1010px) {
  .footer__content .col {
    width: calc(25% - 30px);
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-wide {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 780px) {
  .hero__promo-text {
    font-size: 3vmin;
  }

  .hero__title .xs-show {
    display: inline;
  }

  .sm-none {
    display: none;
  }

  .header-btn {
    margin-left: auto;
  }

  .hero {
    padding-top: 150px;
  }

  .hero__title {
    font-size: 5.5vmin;
  }

  .hero__list-title {
    text-align: center;
    padding-left: 1vmin;
    padding-right: 1vmin;
    /* font-size: 4.5vmin; */
    font-size: 4vmin;
    text-transform: uppercase;
    line-height: 1.4;
  }

  .hero__list-title span {
    font-weight: 700;
  }

  .hero__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__btn-text {
    margin-bottom: 20px;
  }

  .hero__promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .btn__title {
    font-size: 15px;
  }

  .btn--lg {
    padding: .4em 2em .4em 4.5em;
    height: 60px;
    font-size: 13px;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__content .col {
    width: calc(50% - 30px);
  }

  .footer__content .company {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__info {
    margin-top: 10px;
  }

  .social {
    text-align: right;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .social.xs-show {
    display: block;
  }
}

@media screen and (max-width: 670px) {
  .xs-none {
    display: none;
  }
  .logo__text {
    display: none;
  }
  .logo__text.xs-show {
    font-size: 10px;
    display: inline;
    /* display: none; */
  }
  .logo img {
    margin-right: 15px;
  }
  .company__text.xs-show {
    display: inline;
  }
  .header-btn {
    padding: .5em 15px .5em 3em;
  }
  
  .header-btn img {
    top: -.5em;
  }
}

@media screen and (max-width: 580px) {
  .hero__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 560px) {
  .xs-block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 30px;
  }

  .xs-flex {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    text-decoration: underline;
  }

  .xs-flex img {
    margin-right: 10px;
  }

  .header {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .company__text::before {
    height: 8px;
    width: 8px;
  }

  .hero {
    padding-top: 120px;
    padding-bottom: 50px;
    background-size: 80%;
    background-position: center left;
  }

  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__title {
    font-size: 5.1vmin;
    line-height: 1.3;
  }

  .hero__subtitle {
    margin-bottom: 20px;
    font-size: 3vmin;
  }

  .hero__list {
    /* -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; */
  }

  .hero__list-title {
    margin-top: 40px;
    /* -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; */
    margin-bottom: 5vmin;
  }

  .hero__item {
    font-size: 16px;
  }

  .hero__item img {
    width: 70%;
  }

  .btn__text {
    font-size: 9px;
  }

  .btn--sm {
    font-size: 12px;
  }

  .btn-wrap {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }

  .popup__content {
    padding: 40px 20px;
    border-radius: 10px;
    max-width: 98%;
  }

  .popup__title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .popup__text {
    font-size: 14px;
  }

  .popup__el-text {
    font-size: 14px;
  }

  .popup__img {
    width: 25%;
  }

  .popup__img img {
    width: 100%;
  }

  .popup__img::before {
    height: 75px;
    width: 75px;
  }
}

@media screen and (max-width: 520px) {
  .header__wrap {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-btn {
    padding: .5em 15px .5em 3em;
    margin-top: 5px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 10px;
  }

  .logo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .logo__text {
    /* display: block;
    font-size: 10px; */
  }

  .undrln {
    margin: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .container-wide {
    padding-right: 10px;
    padding-left: 10px;
  }

  .logo img {
    max-width: 60px;
  }

  .company__phone {
    font-size: 14px;
  }

  .company__text {
    font-size: 8px;
  }
}

@media screen and (max-width: 450px) {
  .hero__promo-text {
    font-size: 3.5vmin;
  }
}

@media screen and (max-width: 420px) {
  .hero__item {
    font-size: 3.8vmin;

  }
  .hero__item span {
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  .header-btn {
    padding: .5em .8em .5em 2em;
  }

  .header-btn img {
    top: -.3em;
  }

  .logo__text {
    font-size: 8px;
  }

  .logo__text.xs-show {
    display: block;
    font-size: 8px;
  }



  .undrln {
    font-size: 10px;
  }

  .footer__content .col {
    width: calc(100% - 30px);
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__info-order {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }

  .social {
    margin-top: 20px;
  }
}

@media screen and (width: 1440px), screen and (height: 960px) {
  .hero__img {
    top: 15%;
  }
}

@media screen and (width: 1280px), screen and (height: 720px) {
  .hero__img {
    top: 3%;
  }
}