@font-face {
  font-family: 'Lato';
  font-display: swap;
  src: url("../fonts/Lato-Light.ttf");
  src: local("O"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  src: url("../fonts/Lato-Regular.ttf");
  src: local("O"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  src: url("../fonts/Lato-Bold.ttf");
  src: local("O"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  src: url("../fonts/Lato-Black.ttf");
  src: local("O"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MgOpenModata';
  font-display: swap;
  src: url("../fonts/MgOpenModataRegular.ttf");
  src: local("O"), url("../fonts/MgOpenModataRegular.woff") format("woff"), url("../fonts/MgOpenModataRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.ttf");
  src: local("O"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  src: url("../fonts/Raleway-Regular.ttf");
  src: local("O"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  src: url("../fonts/Raleway-Medium.ttf");
  src: local("O"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.ttf");
  src: local("O"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  src: url("../fonts/Raleway-Bold.ttf");
  src: local("O"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --lato: 'Lato';
  --mg: 'MgOpenModata';
  --myriad: 'MyriadPro';
  --raleway: 'Raleway';
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: normal;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --textcol-d: #262626;
  --textcol-g: #505050;
  --textcol-lg: #a4a4a4;
  --textcol-llg: #e7e7e7;
  --textcol-w: #fff;
  --bgcol-d: #272727;
  --dark-overlay: rgba(0, 0, 0, 0.9);
  --blog-overlay: rgba(255, 255, 255, 0.5);
  --main-red: #ff0036;
  --icons-g: #a4a4a4;
  --fast: .15s;
  --medium: .25s;
  --slow: .35s;
  --hund: 100px 0;
}

html {
  font-size: 16px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-family: var(--lato);
  line-height: 22px;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.red-text {
  color: var(--main-red);
}

.overlay-07 > * {
  position: relative;
  z-index: 2;
}

.overlay-07::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-09 > * {
  position: relative;
  z-index: 2;
}

.overlay-09::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.section-header {
  text-align: center;
  margin-bottom: 100px;
}

.section-header__title {
  font-family: var(--raleway);
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 50px;
}

.section-header__subtitle {
  color: var(--textcol-g);
  font-weight: 700;
}

.section-header--dark > .section-header__title {
  color: var(--textcol-d);
}

.section-header--dark > .section-header__subtitle {
  color: var(--textcol-g);
}

.separator {
  margin: 0 auto;
  position: relative;
  z-index: 10;
  width: 11px;
  height: 19px;
  background-color: var(--textcol-d);
}

.separator__line {
  background-color: var(--textcol-d);
  height: 1px;
  width: 500px;
  position: absolute;
  top: 9px;
  left: -245px;
}

.separator::before, .separator::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--textcol-d);
}

.separator::before {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.separator::after {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.separator--red {
  background-color: var(--main-red);
  top: -9px;
}

.separator--red::before, .separator--red::after,
.separator--red .separator__line {
  background-color: var(--main-red);
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-transition: var(--medium);
  transition: var(--medium);
}

.header-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__logo {
  position: absolute;
  left: 0;
}

.header__menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.header__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__menu-item > a {
  position: relative;
  color: var(--textcol-lg);
  font-family: var(--raleway);
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: var(--fast);
  transition: var(--fast);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.header__menu-item > a:hover {
  color: var(--textcol-w);
}

.header__menu-item > a::before, .header__menu-item > a::after {
  content: '';
  -webkit-transition: var(--fast);
  transition: var(--fast);
  position: absolute;
  left: calc(50% - 14px);
  bottom: -100%;
  background-color: transparent;
  height: 3px;
  width: 28px;
}

.header__menu-item > a::before {
  top: 0;
}

.header__menu-item > a::after {
  bottom: 0;
}

.header__menu-item > a:hover::before {
  top: 0;
}

.header__menu-item > a:hover::after {
  bottom: 0;
}

.header__menu-item > a:hover::before, .header__menu-item > a:hover::after {
  background-color: var(--main-red);
}

.out {
  -webkit-transform: translateY(-180%);
          transform: translateY(-180%);
}

.btn-link {
  color: var(--textcol-w);
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #131313;
  padding: 17px 35px;
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.btn-link:hover {
  background-color: var(--main-red);
}

.spoiler__item {
  margin-bottom: 10px;
}

.spoiler__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spoiler__label {
  position: relative;
  display: block;
  width: 60px;
  border: 1px solid #e7e7e7;
  border-right: none;
  background-color: #f7f7f7;
  cursor: pointer;
}

.spoiler__label span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--textcol-g);
  border-radius: 50%;
}

.spoiler__label span::before,
.spoiler__label span::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 6px);
  display: block;
  height: 2px;
  width: 12px;
  border-radius: 40%;
  overflow: hidden;
  background-color: var(--textcol-g);
}

.spoiler__label span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.spoiler__label--active span {
  border: 1px solid var(--main-red);
}

.spoiler__label--active span::before,
.spoiler__label--active span::after {
  background-color: var(--main-red);
  -webkit-transform: none;
          transform: none;
}

.spoiler__btn {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 15px 0;
  padding-left: 30px;
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  color: #262626;
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.spoiler__btn--active {
  color: var(--main-red);
}

.spoiler__text {
  color: var(--textcol-g);
  font-size: 14px;
  line-height: 22px;
  padding: 15px;
  border: 1px solid #e7e7e7;
  border-top: none;
  margin-bottom: 10px;
  display: none;
}

.spoiler__text--active {
  display: block;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item:hover .features__icon,
.features__item:hover .features__icon::before,
.features__item:hover .features__icon::after {
  background-color: var(--main-red);
  border: none;
}

.features__icon {
  position: relative;
  height: 76px;
  width: 43px;
  margin-bottom: 35px;
}

.features__icon, .features__icon::before, .features__icon::after {
  border-top: 1px solid var(--textcol-d);
  border-bottom: 1px solid var(--textcol-d);
}

.features__icon::before, .features__icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.features__icon::before {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.features__icon::after {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.features__img {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.features__title {
  color: var(--textcol-d);
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.features__text {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  color: var(--textcol-g);
  text-align: center;
  line-height: 22px;
}

.portfolio-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-menu__item a {
  color: var(--textcol-lg);
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio-menu__item {
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.portfolio-menu__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio-proects {
  position: relative;
}

.portfolio-proects::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 5px;
  background-color: var(--textcol-d);
}

.portfolio-proects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.portfolio-proects__item {
  position: relative;
}

.portfolio-proects__img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-proects__hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: var(--fast);
  transition: var(--fast);
  opacity: 0;
}

.portfolio-proects__hover:hover {
  opacity: 1;
}

.portfolio-proects__cross {
  margin-bottom: 30px;
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.portfolio-proects__cross:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio-proects__design-name {
  color: #ffffff;
}

.footer {
  width: 100%;
  padding: 25px;
  background-color: var(--textcol-d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__logo {
  display: block;
}

.footer__copyright {
  position: absolute;
  right: 45px;
  color: #8e8e8e;
  font-family: var(--myriad);
}

.first-screen {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/bg/bg1.png) no-repeat center/cover;
}

.first-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-screen__title {
  margin-bottom: 45px;
  color: var(--textcol-w);
  font-family: var(--raleway);
  font-weight: 700;
}

.first-screen__text {
  max-width: 1000px;
  width: 100%;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
  margin-bottom: 50px;
}

.first-screen__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-screen__btns > *:not(:last-child) {
  margin-right: 30px;
}

.about-inner {
  padding: var(--hund);
}

.about__title {
  color: var(--textcol-d);
  margin-bottom: 45px;
  font-family: var(--raleway);
  font-weight: 700;
  text-align: center;
}

.about__subtitle {
  color: var(--textcol-g);
  font-family: var(--lato);
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 100px;
  text-align: center;
}

.about__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.about__content > * {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.about__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__text {
  color: var(--textcol-g);
  font-family: var(--lato);
  line-height: 22px;
}

.about__text--intro {
  margin-bottom: 40px;
}

.about__images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__img-left, .about__img-main, .about__img-right {
  position: absolute;
}

.about__img-left {
  z-index: 1;
  left: 0;
}

.about__img-main {
  width: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  height: 360px;
  width: 208px;
}

.about__img-main::before, .about__img-main::after {
  content: '';
  position: absolute;
  z-index: 6;
  display: block;
  width: 100%;
  height: 100%;
}

.about__img-main::before {
  border: 5px solid green;
}

.about__img-main::after {
  border: 5px solid orange;
}

.about__img-right {
  z-index: 1;
  right: 0;
}

.about__separator {
  margin-bottom: 100px;
}

.portfolio {
  background-color: var(--textcol-d);
  padding: var(--hund);
}

.portfolio__header {
  margin-bottom: 100px;
}

.portfolio__title {
  color: #ffffff;
  font-family: var(--raleway);
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.portfolio__menu-wrapper {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
}

.product-features__inner {
  padding: var(--hund);
}

.product-features__separator {
  position: relative;
  top: -9px;
}

.product-features__header {
  text-align: center;
  margin-bottom: 100px;
}

.product-features__title {
  font-family: var(--raleway);
  font-weight: 700;
  color: var(--textcol-d);
  margin-bottom: 50px;
}

.product-features__subtitle {
  color: var(--textcol-g);
  font-weight: 700;
}

.product-features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-features__col:first-child {
  margin-right: -15px;
}

.product-features__col:first-child .product-features__item {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-features__col:first-child .product-features__hexagon {
  margin-left: 20px;
}

.product-features__col:last-child {
  margin-left: -15px;
}

.product-features__col:last-child .product-features__item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product-features__col:last-child .product-features__hexagon {
  margin-right: 20px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.product-features__col {
  padding-top: 70px;
}

.product-features__item {
  border: 1px solid #e7e7e7;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.product-features__item:hover {
  background-color: var(--main-red);
}

.product-features__item:hover .product-features__item-text {
  color: #fff;
}

.product-features__item:hover .product-features__hexagon,
.product-features__item:hover .product-features__hexagon::before,
.product-features__item:hover .product-features__hexagon::after {
  background-color: #fff;
}

.product-features__item:hover .product-features__check::before,
.product-features__item:hover .product-features__check::after {
  background-color: var(--main-red);
}

.product-features__item-text {
  color: var(--textcol-d);
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.product-features__hexagon {
  width: 19px;
  height: 32px;
  background-color: #e7e7e7;
  position: relative;
}

.product-features__hexagon::before, .product-features__hexagon::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
}

.product-features__hexagon::before {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.product-features__hexagon::after {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.product-features__check::before, .product-features__check::after {
  content: '';
  position: absolute;
  top: calc(50% + 3px);
  left: calc(50% - 2px);
  z-index: 5;
  display: block;
  height: 3px;
  background-color: var(--textcol-d);
  border-radius: 40%;
  -webkit-transform-origin: 1px center;
          transform-origin: 1px center;
}

.product-features__check::before {
  width: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.product-features__check::after {
  width: 7px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.product-features__img {
  margin-top: -60px;
}

.clients {
  background: url(../img/bg/bg2.png) no-repeat center/cover;
  position: relative;
}

.clients-inner {
  padding: var(--hund);
}

.clients__header {
  text-align: center;
  margin-bottom: 100px;
}

.clients__title {
  font-family: var(--raleway);
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 50px;
}

.clients__subtitle {
  color: var(--textcol-lg);
  font-weight: 700;
}

.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__content > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.feedback__title {
  color: #ffffff;
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.feedback__text {
  color: var(--textcol-lg);
  line-height: 22px;
  margin-bottom: 45px;
}

.feedback__photo {
  margin-bottom: 15px;
}

.feedback__name {
  font-family: var(--raleway);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.feedback__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__dots > *:not(:last-child) {
  margin-right: 5px;
}

.feedback__dot {
  width: 10px;
  height: 10px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.feedback__dot:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feedback__dot--active {
  background-color: var(--main-red);
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.brands__item {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 68px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0 0 68px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 115px;
  min-width: 270px;
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.brands__item:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.brands__logo {
  margin-right: 5px;
}

.brands__name {
  color: var(--textcol-d);
  font-family: var(--mg);
  font-size: 24px;
}

.team__separator {
  top: -9px;
}

.team-inner {
  padding: var(--hund);
}

.team__header {
  text-align: center;
  margin-bottom: 100px;
}

.team__title {
  font-family: var(--raleway);
  font-weight: 700;
  color: var(--textcol-d);
  margin-bottom: 50px;
}

.team__subtitle {
  color: var(--textcol-g);
  font-weight: 700;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__member {
  -webkit-transition: var(--fast);
  transition: var(--fast);
  border: 1px solid var(--textcol-llg);
  text-align: center;
  padding-bottom: 35px;
}

.team__member:hover {
  border: 1px solid var(--textcol-d);
}

.team__member:hover .member-socials {
  opacity: 1;
}

.team__member:not(:last-child) {
  margin-right: 20px;
}

.team__member-upper {
  position: relative;
}

.team__img {
  margin-bottom: 35px;
  position: relative;
}

.team__name {
  color: var(--textcol-d);
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.team__post {
  color: var(--textcol-g);
}

.member-socials {
  opacity: 0;
  -webkit-transition: var(--fast);
  transition: var(--fast);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--textcol-d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member-socials__hexagon {
  -webkit-transition: var(--fast);
  transition: var(--fast);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23px;
  height: 41px;
  position: relative;
}

.member-socials__hexagon:not(:last-child) {
  margin-right: 30px;
}

.member-socials__hexagon > a {
  position: relative;
  z-index: 2;
}

.member-socials__hexagon::before, .member-socials__hexagon::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.member-socials__hexagon::before {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.member-socials__hexagon::after {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.member-socials__hexagon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.skills-inner {
  padding: var(--hund);
}

.skills__header {
  text-align: center;
  margin-bottom: 100px;
}

.skills__title {
  font-family: var(--raleway);
  font-weight: 700;
  color: var(--textcol-d);
  margin-bottom: 50px;
}

.skills__subtitle {
  color: var(--textcol-g);
}

.skills__row {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__item {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.skills__circle {
  margin: 0 auto;
  width: 145px;
  height: 145px;
  border: 3px solid #e74c3c;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.skills__percentage {
  font-size: 40px;
  font-weight: 300;
  color: #000000;
}

.skills__name {
  color: var(--textcol-d);
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.skills__desc {
  color: var(--textcol-g);
  line-height: 18px;
}

.services {
  background-color: var(--bgcol-d);
}

.services-inner {
  padding: var(--hund);
}

.services__header {
  text-align: center;
  margin-bottom: 100px;
}

.services__title {
  font-family: var(--raleway);
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 50px;
}

.services__subtitle {
  color: #a4a4a4;
}

.services-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-grid__item {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  margin-bottom: 55px;
}

.services-grid__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.services-grid__hexagon {
  background-color: var(--textcol-lg);
  width: 34px;
  height: 57px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
  margin-left: 20px;
}

.services-grid__hexagon > img {
  position: relative;
  z-index: 2;
}

.services-grid__hexagon::before, .services-grid__hexagon::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--textcol-lg);
}

.services-grid__hexagon::before {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.services-grid__hexagon::after {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.services-grid__title {
  color: #ffffff;
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.services-grid__text {
  color: var(--textcol-lg);
  padding: 30px;
  background-color: rgba(164, 164, 164, 0.1);
}

.services-grid__item:hover .services-grid__text {
  background-color: rgba(255, 0, 55, 0.1);
  color: #fff;
}

.services-grid__item:hover .services-grid__hexagon,
.services-grid__item:hover .services-grid__hexagon::before,
.services-grid__item:hover .services-grid__hexagon::after {
  background-color: var(--main-red);
}

.plans__separator {
  top: -9px;
}

.plans-inner {
  padding: var(--hund);
}

.plans__header {
  text-align: center;
  margin-bottom: 100px;
}

.plans__title {
  font-family: var(--raleway);
  font-weight: 700;
  color: var(--textcol-d);
  margin-bottom: 50px;
}

.plans__subtitle {
  color: var(--textcol-g);
  font-weight: 700;
}

.plans__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plans-item {
  border: 1px solid var(--textcol-llg);
  text-align: center;
}

.plans-item__header {
  background-color: var(--textcol-d);
  color: #ffffff;
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;
}

.plans-item__price {
  padding: 15px;
  color: var(--textcol-d);
  font-size: 50px;
  font-weight: 900;
  background-color: #f2f2f2;
  line-height: normal;
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.plans-item__duration {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 400;
}

.plans-item__point {
  padding: 20px;
  color: var(--textcol-d);
}

.plans-item__point:not(:last-child) {
  border-bottom: 1px solid var(--textcol-llg);
}

.plans-item__order-btn {
  color: #ffffff;
  font-family: var(--raleway);
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
  background-color: var(--textcol-d);
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.plans-item__order-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.plans-item:hover .plans-item__price {
  background-color: var(--main-red);
  color: #fff;
}

.plans-item:hover .plans-item__order-btn {
  background-color: var(--main-red);
  color: #fff;
}

.twitter {
  padding: var(--hund);
  background: url(../img/bg/twtr_bg.svg) no-repeat 30px bottom/auto;
  background-color: var(--bgcol-d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.twitter__content {
  text-align: center;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.twitter__icon {
  width: 40px;
  margin-bottom: 25px;
}

.twitter__text {
  color: #ffffff;
}

.blog-inner {
  padding: var(--hund);
}

.blog__container {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}

.blog__item {
  margin-bottom: 50px;
}

.blog__more {
  margin: 0 auto;
  width: 45px;
  height: 45px;
  display: block;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: relative;
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.blog__more:hover {
  background-color: #d3d3d3;
}

.blog__more::before, .blog__more::after {
  content: '';
  position: absolute;
  top: 60%;
  left: calc(50% - 1.5px);
  display: block;
  height: 6px;
  width: 18px;
  border-radius: 30%;
  background-color: #a2a2a2;
  -webkit-transform-origin: 2px center;
          transform-origin: 2px center;
}

.blog__more::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.blog__more::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-item__img {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  margin-right: 30px;
  position: relative;
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.blog-item__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog-item__title {
  color: #2e2e2e;
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.blog-item__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.blog-item__stats > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.blog-item__author, .blog-item__comments, .blog-item__views {
  color: #a2a2a2;
  font-size: 12px;
}

.blog-item__author::before, .blog-item__comments::before, .blog-item__views::before {
  content: '';
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  background: url(../img/icon/blog_sprite.png) no-repeat;
}

.blog-item__author::before {
  background-position: 0 -16px;
}

.blog-item__comments::before {
  background-position: 0 0;
}

.blog-item__views::before {
  background-position: 0 -34px;
}

.blog-item__text {
  color: var(--textcol-g);
  line-height: 20px;
  margin-bottom: 30px;
}

.blog-item__btn {
  display: block;
  padding: 15px;
  background-color: var(--textcol-d);
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: var(--fast);
  transition: var(--fast);
}

.blog-item__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog-item:hover .blog-item__img {
  opacity: 0.5;
}

.blog-item:hover .blog-item__btn {
  background-color: var(--main-red);
}

.follow {
  background: url(../img/bg/bg3.png) no-repeat center/cover;
  position: relative;
}

.follow-inner {
  padding: var(--hund);
}

.follow__header {
  margin-bottom: 50px;
}

.follow__row {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.follow__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow__hexagon {
  border-top: 1px solid var(--main-red);
  border-bottom: 1px solid var(--main-red);
  width: 38px;
  height: 68px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.follow__hexagon svg {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  fill: var(--main-red);
}

.follow__hexagon > a {
  position: relative;
  z-index: 5;
}

.follow__hexagon::before, .follow__hexagon::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--main-red);
  border-bottom: 1px solid var(--main-red);
}

.follow__hexagon::before {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.follow__hexagon::after {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.follow__hexagon:hover, .follow__hexagon:hover::before, .follow__hexagon:hover::after {
  background-color: var(--main-red);
}

.follow__hexagon:hover svg {
  position: relative;
  z-index: 10;
  fill: white;
}

.follow__number {
  color: #fff;
}

svg path {
  fill: inherit;
}

.find-us-inner {
  padding-top: 100px;
}

.find-us__map {
  position: relative;
}

.find-us__address {
  background-color: var(--textcol-d);
  color: #ffffff;
  font-family: var(--myriad);
  line-height: 25px;
  padding: 35px 100px 45px 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 45%;
  left: 10%;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 45px;
  -webkit-box-shadow: 0 0 9px rgba(5, 5, 6, 0.17);
          box-shadow: 0 0 9px rgba(5, 5, 6, 0.17);
  background-color: #fff;
}

.contact-form__wrapper {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 49%;
  width: 100%;
  max-width: 470px;
}

.contact-form__title {
  color: var(--textcol-d);
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.contact-form__inp {
  border: 1px solid #e7e7e7;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.contact-form__inp::-webkit-input-placeholder {
  color: var(--textcol-g);
}

.contact-form__inp:-ms-input-placeholder {
  color: var(--textcol-g);
}

.contact-form__inp::-ms-input-placeholder {
  color: var(--textcol-g);
}

.contact-form__inp::placeholder {
  color: var(--textcol-g);
}

.contact-form__inp:focus::-webkit-input-placeholder {
  opacity: 0;
}

.contact-form__inp:focus:-ms-input-placeholder {
  opacity: 0;
}

.contact-form__inp:focus::-ms-input-placeholder {
  opacity: 0;
}

.contact-form__inp:focus::placeholder {
  opacity: 0;
}

.contact-form__message {
  border: 1px solid #e7e7e7;
  height: 90px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.contact-form__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid var(--textcol-d);
  background-color: var(--textcol-d);
  -webkit-transition: var(--fast);
  transition: var(--fast);
  cursor: pointer;
}

.contact-form__btn:hover {
  color: var(--textcol-d);
  background-color: #fff;
}
