@import "reset";
//МИКСИНЫ
@mixin border($color) {
  border: 1px solid $color;
}
//================
body {
  font-family: 'Montserrat', sans-serif;
}
.max_width {
  max-width: 1120px;
}
.btn {
  display: block;
  width: max-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: #4985FF;
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 0.7em 2em;
  white-space: nowrap;
  transition: .15s;
  &:hover {
    transition: .35s;
    cursor: pointer;
    box-shadow: 2px 2px 9px rgba(73, 134, 255, 0.8);
    text-shadow: 0 0 2px;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 0;
  background-color: rgba(255, 255, 255, 0.041);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.185);
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}
.header-inner {
  margin: auto;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 0 0 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  transition: color .3s;
  &:hover {
    color: rgb(170, 170, 170);
  }
}

.first-screen {
  color: #fff;
  background: url(../img/bg/bg.jpg) no-repeat center / cover;
  height: 100vh;
  &__info {
    width: 830px;
    text-align: center;
    position: relative;
    margin: auto;
    top: 30%;
    display: flex;
    flex-flow: column;
  }
  &__we-are {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 20px 0;
  }
  &__text {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin: 0 0 35px 0;
  }
  &__btn {
    margin: auto;
  }
}


.functions {
  margin: auto;
  padding: 100px 0;
  &__title {
    align-self: stretch;
    width: 770px;
    color: #323232;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    margin: 0 auto 50px;
  }
  &__subtitle {
    width: 770px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin: 0 auto 70px;
  }
  &__btn {
    display: block;
    margin: auto;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  &__item {
    display: flex;
    flex: 0 0 31%;
  }
  &__icon {
    height: 110px;
    width: 110px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    box-sizing: content-box;
    margin-right: 15px;
    img {
      display: none;
    }
    background: no-repeat center / auto;
    &::before {
      content: '';
      display: block;
      height: 90px;
      width: 90px;
      border: 1px solid #4985FF;
      border-radius: 50%;
      margin: 10px 10px;
      box-sizing: border-box;
    }
  }
  &__text {
    margin-top: 50px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }
  &__more {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
  }
}


#works {
  padding: 100px 0;
  position: relative;
  .bg-top {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
  }
}
.works {
  margin: auto;
}
.works-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 70px;
  align-items: center;
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #fff;
  }
}
.works-row {
  display: flex;
  justify-content: space-between;
}
.works-item {
  flex-basis: 30%;
  &__img {
    height: 350px;
    background: no-repeat center / cover;
    margin-bottom: 20px;
  }
  &__img img {
    display: none;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-bottom: 20px;
  }
  &__more {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4985FF;
    &:hover {
      text-decoration-line: underline;
    }
  }
}


.footer {
  background: #F6F6F8;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__copyright {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
  }
}