a {
  color: #000;
  text-decoration: none;
}
h2 {
  color: #1d1e1f;
  font-family: $neue;
  font-size: 44px;
  font-weight: 300;
}
h3 {
  color: #1d1e1f;
  font-family: $neue;
  font-size: 34px;
  font-weight: 300;
}