@font-face {
  font-family: 'HelveticaNeueLTPro';
  font-display: swap;
  src: url('../fonts/HelveticaNeueLTProLt.ttf');
  src: local('O'), url('../fonts/HelveticaNeueLTProLt.woff') format('woff'),
    url('../fonts/HelveticaNeueLTProLt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTPro';
  font-display: swap;
  src: url('../fonts/HelveticaNeueLTProMd.ttf');
  src: local('O'), url('../fonts/HelveticaNeueLTProMd.woff') format('woff'),
    url('../fonts/HelveticaNeueLTProMd.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTProRoman';
  font-display: swap;
  src: url('../fonts/HelveticaNeueLTProRoman.ttf');
  src: local('O'), url('../fonts/HelveticaNeueLTProRoman.woff') format('woff'),
    url('../fonts/HelveticaNeueLTProRoman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  src: url('../fonts/Merriweather-Regular.ttf');
  src: local('O'), url('../fonts/Merriweather-Regular.woff') format('woff'),
    url('../fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  src: url('../fonts/Merriweather-LightItalic.ttf');
  src: local('O'), url('../fonts/Merriweather-LightItalic.woff') format('woff'),
    url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat-Light.ttf');
  src: local('O'), url('../fonts/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat-Regular.ttf');
  src: local('O'), url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../fonts/Roboto-Regular.ttf');
  src: local('O'), url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}