html {

}
body {
  font-family: $ffPrimary;
  &.lock {
    overflow: hidden;
  }
}
.container {
  max-width: $containerFull;
  width: 100%;
  padding-left: $containerPadding;
  padding-right: $containerPadding;
  margin: 0 auto;
}

.section-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $colorPrimary;
  & > img {
    display: inline-block;
    height: 1em;
    margin-bottom: -0.1em;
  }
  &.light {
    color: #ffffff;
  }
}



.bg-grey {
  background-color: #F5F5F5;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 16px;
  background-color: transparent;
  transform: translateX(0) skew(25deg);
  @include skewedBefore($colorAccent);
}
.btn-wrap {
  @include btn-flare;
  z-index: 2;
  // display: inline-block;
  display: flex;
  // justify-content: center;
  // margin: 0 auto;
  // width: 100%;
  transform: translateX(0) skew(-25deg);

}

br.mob {
  display: none;
  @media (max-width: 767px) {
    display: inline;
  }
}

.t-accent {
  color: $colorAccent;
}
.t-extra {
  font-weight: 800;
}

@include flare-anim;




@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {

}
@media (max-width: 767px) {
  .section-title {
    font-size: getvw(18);
    text-align: center;
    margin: 0 auto;
  }
  .hide-s {
    display: none;
  }
  .calculator {
    &__title {
      font-size: getvw(22);
    }
  }
}