$containerFull: 1170px;
$containerPadded: 1140px;
$containerPadding: 15px;

$ffPrimary: 'OpenSans', sans-serif;

$colorDark: #383838;
$colorDark2: #333333;
$colorPrimary: #003A70;
$colorAccent: #F7941D;

$mob-vw: 3.2;
@function getvw($px) {
  @return ($px / $mob-vw) + vw;
}
@function getlh($fz, $lh) {
  @return ($lh / $fz);
}