$containerFull: 1170px;
$containerPadded: 1140px;
$containerPadding: 15px;

$ffPrimary: 'OpenSans', sans-serif;

$colorDark: #383838;
$colorDark2: #333333;
$colorPrimary: #003A70;
$colorAccent: #F7941D;