$containerWidthFull: 1200px;
$containerWidthPadded: 1170px;
$containerPadding: 15px;

$ffPrimary: 'Oswald', sans-serif;

$fzM: 16px;
$fzXm: 20px;

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorMetalDark: #222426;

$brsCommon: 5px;