$containerWidthFull: 1200px;
$containerWidthPadded: 1170px;
$containerPadding: 15px;

$ffPrimary: 'Oswald', sans-serif;
$ffSecondary: 'Open Sans', sans-serif;

$fzM: 16px;
$fzXm: 20px;
$fzXxm: 24px;

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorMetalDark: #222426;
$colorMetalLightenDark: #36383C;
$colorMetalMedium: #B2B4B5;
$colorMetalLite: #D7D9D9;

$brsCommon: 5px;

$mgS: 15px;
$mgM: 30px;
$mgL: 60px;

$asideWidth: 200px;
$asideItemsPadding: 12px;
$asideTransition: 0.25s;