.spoiler {
  &__item {
    margin-bottom: 10px;
  }
  &__btn-wrapper {
    display: flex;
  }
  &__label {
    position: relative;
    display: block;
    width: 60px;
    border: 1px solid #e7e7e7;
    border-right: none;
    background-color: #f7f7f7;
    cursor: pointer;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid var(--textcol-g);
      border-radius: 50%;
    }
    span::before,
    span::after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 6px);
      display: block;
      height: 2px;
      width: 12px;
      border-radius: 40%;
      overflow: hidden;
      background-color: var(--textcol-g);
    }
    span::after {
      transform: rotate(90deg);
    }
    &--active {
      span {
      border: 1px solid var(--main-red);

      }
      span::before,
      span::after {
        background-color: var(--main-red);
        transform: none;
      }
    }
  }
  &__btn {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 15px 0;
    padding-left: 30px;
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    color: #262626;
    font-family: var(--raleway);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    &--active {
      color: var(--main-red);
    }
  }
  &__text {
    color: var(--textcol-g);
    font-size: 14px;
    line-height: 22px;
    padding: 15px;
    border: 1px solid #e7e7e7;
    border-top: none;
    margin-bottom: 10px;
    display: none;
    &--active {
      display: block;
    }
  }
}