@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Light.ttf");
  src: local("O"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Regular.ttf");
  src: local("O"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Medium.ttf");
  src: local("O"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Bold.ttf");
  src: local("O"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  font-display: swap;
  src: url("../fonts/SourceSansPro-Regular.ttf");
  src: local("O"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-family: Roboto;
}

body {
  background-color: #f7f7f7;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body header {
  background-color: #fff;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 65px;
}

.owl-theme .owl-dots .owl-dot {
  border: 1px solid transparent;
  outline: none;
  border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 7px;
}

.owl-theme .owl-dots .owl-dot.active, .owl-theme .owl-dots .owl-dot:hover {
  border: 1px solid #fd9b00;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fd9b00;
}

.slider-wrapper-theme {
  position: relative;
}

.slider-wrapper-theme__nav {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 9;
}

.slider-wrapper-theme__prev, .slider-wrapper-theme__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
}

.slider-wrapper-theme__prev:hover span,
.slider-wrapper-theme__next:hover span {
  border-color: #fd9b00;
}

.slider-wrapper-theme__prev {
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.slider-wrapper-theme__prev span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(45deg) translateY(-25%) translateX(-25%);
          transform: rotate(45deg) translateY(-25%) translateX(-25%);
}

.slider-wrapper-theme__next {
  right: 0;
  -webkit-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
}

.slider-wrapper-theme__next span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: rotate(-45deg) translateY(-25%) translateX(25%);
          transform: rotate(-45deg) translateY(-25%) translateX(25%);
}

.slider-wrapper-theme__prev span,
.slider-wrapper-theme__next span {
  display: block;
  width: 10px;
  height: 10px;
  -webkit-transition: .25s;
  transition: .25s;
}

.call-me-btn {
  color: #000;
  font-size: 15px;
  white-space: nowrap;
  max-width: 180px;
  padding: 7px 20px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: .15s;
  transition: .15s;
}

.call-me-btn:hover {
  background-color: #000;
  color: #ffffff;
}

.buy-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fd9b00;
  border: 2px solid #fd9b00;
  color: #fff;
  font-size: 15px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .25s;
  transition: .25s;
}

.buy-btn:before {
  content: url(../img/cart_small.png);
  display: block;
  margin-right: 15px;
  -webkit-animation: showBuyBtnIconWhite .25s ease forwards;
          animation: showBuyBtnIconWhite .25s ease forwards;
}

.buy-btn:hover {
  background-color: #fff;
  border: 2px solid #fd9b00;
  color: #010101;
}

.buy-btn:hover:before {
  content: url(../img/cart_small2.png);
  display: block;
  margin-right: 15px;
  -webkit-animation: showBuyBtnIconBlack .25s ease forwards;
          animation: showBuyBtnIconBlack .25s ease forwards;
}

.buy-now-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #00b5ab;
  border: 2px solid #00b5ab;
  color: #fff;
  font-size: 15px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .25s;
  transition: .25s;
}

.buy-now-btn:hover {
  background-color: #fff;
  border: 2px solid #00b5ab;
  color: #7c7373;
}

.link {
  color: #00b5ab;
  text-decoration: none;
}

.link:hover {
  color: #000;
}

.add-compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.add-compare::before {
  content: url(../img/libra.png);
  vertical-align: middle;
  margin-right: 15px;
}

@-webkit-keyframes showBuyBtnIconWhite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBuyBtnIconWhite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showBuyBtnIconBlack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBuyBtnIconBlack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  max-width: 1170px;
  margin: auto;
  width: 100%;
}

.header {
  width: 100%;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: auto;
  background-color: #fff;
}

.header > *:not(.header__right-side) {
  margin-top: 20px;
}

.header__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-right: 25px;
}

.header__logo span {
  padding: 5px 10px;
}

.header__catalog {
  margin-top: 20px;
}

.header__main-chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 25px;
}

.header__contacts-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 40px;
}

.header__contacts-social {
  margin-bottom: 15px;
}

.header__contacts-sign {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .25s;
  transition: .25s;
}

.header__contacts-sign::before {
  content: '';
  width: 23px;
  height: 23px;
  display: block;
  margin-right: 15px;
  background: url(../img/sign_up.png) no-repeat center;
}

.header__contacts-sign:hover {
  opacity: .5;
}

.header__nav {
  margin-bottom: 10px;
}

.header__right-side {
  margin-left: 25px;
}

.subscribe {
  max-width: 1170px;
  margin: auto;
  background-color: #00b5ab;
  padding: 20px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__text {
  color: #fefefe;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 45%;
          flex: 1 45%;
}

.subscribe__form {
  min-width: 250px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav__item {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__item--sale {
  color: #00b5ab;
  font-weight: 500;
}

.nav__search {
  text-transform: none;
  border: 1px solid #fe9b00;
  outline: none;
  padding: 12px;
  min-width: 250px;
}

.nav__search:focus {
  background-color: #fdf9e4;
}

.nav__search:placeholder-shown:hover {
  cursor: pointer;
}

.logo {
  color: #39363a;
  font-size: 50px;
  font-weight: 300;
}

.logo span {
  color: #fff;
  text-transform: uppercase;
  background-color: #ffb100;
  padding: 5px 10px;
}

.contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: url(../img/phone.png) no-repeat left top;
  padding-left: 30px;
}

.contacts-phone__item {
  color: #010101;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s;
}

.contacts-phone__item:hover {
  opacity: 0.5;
}

.contacts-mail {
  color: #000;
  font-size: 15px;
  background: url(../img/mail.png) no-repeat left center;
  text-decoration: none;
  padding-left: 30px;
  -webkit-transition: .25s;
  transition: .25s;
}

.contacts-mail:hover {
  opacity: 0.5;
}

.contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-social__item {
  margin-left: 12px;
  -webkit-transition: .25s;
  transition: .25s;
}

.contacts-social__item:hover {
  opacity: 0.5;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1bcdc3;
  min-width: 110px;
}

.cart__img {
  margin-bottom: 30px;
}

.cart__quantity-product {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 30px;
}

.catalog {
  position: relative;
  z-index: 10;
}

.catalog__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 20px 20px 15px;
  background-color: #e78216;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog__head:after {
  width: 16px;
  height: 16px;
  content: '';
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.catalog__head:hover::after {
  border-radius: 0;
  background: none;
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.catalog__categories-list {
  display: none;
  position: absolute;
  z-index: 5;
  top: 100%;
  display: none;
  -webkit-animation: listShow .3s ease forwards;
          animation: listShow .3s ease forwards;
  color: #fff;
  font-size: 17px;
  width: 100%;
  cursor: pointer;
}

.catalog__categories-list--active {
  display: block;
}

.catalog__category {
  background-color: #ff9c00;
  padding: 20px 20px 20px 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.catalog__category:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fff;
  color: #000;
}

.catalog__category-items {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

.catalog__category-item {
  background-color: #e78216;
  padding: 20px 20px 20px 15px;
  white-space: nowrap;
  -webkit-transition: .3s;
  transition: .3s;
}

.catalog__category-item a {
  color: #fff;
  text-decoration: none;
}

.catalog__category-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fff;
}

.catalog__category-item:hover a {
  color: #000;
}

.catalog__category-item--see-more {
  background-color: #fff;
}

.catalog__category-item--see-more a {
  color: #000;
}

.catalog__category-item--see-more a::after {
  content: '';
  width: 26px;
  height: 15px;
  display: inline-block;
  margin-left: 20px;
  vertical-align: text-bottom;
  background-image: url(../img/arrow.png);
}

.catalog__category:hover .catalog__category-items {
  display: block;
  -webkit-transform: none;
          transform: none;
}

@-webkit-keyframes listShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes listShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-header {
  color: #7c7373;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  max-width: 1170px;
  width: 100%;
  height: 110px;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header__more {
  position: absolute;
  right: 0;
  color: #7c7373;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: .15s;
  transition: .15s;
}

.section-header__more:hover {
  color: #ff9c00;
  text-decoration: underline;
}

.sub-form {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-form__email {
  background: none;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 10px;
  outline: none;
  color: #fff;
}

.sub-form__email::-webkit-input-placeholder {
  color: #fefefe;
  font-size: 14px;
}

.sub-form__email:-ms-input-placeholder {
  color: #fefefe;
  font-size: 14px;
}

.sub-form__email::-ms-input-placeholder {
  color: #fefefe;
  font-size: 14px;
}

.sub-form__email::placeholder {
  color: #fefefe;
  font-size: 14px;
}

.sub-form__btn {
  background: none;
  border: none;
  display: block;
  padding-top: 8px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.sub-form__btn::after {
  content: url(../img/mail_grey.png);
}

.product-card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.product-card:hover {
  outline: 2px solid #fd9b00;
  outline-offset: -2px;
  z-index: 2;
}

.product-card__img {
  margin-bottom: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product-card__title {
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.product-card__price {
  text-transform: uppercase;
  margin-bottom: 15px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card__buy-btn {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-bottom: 10px;
}

.product-card--discount::before, .product-card--bestseller::before, .product-card--new::before {
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 127px;
  padding-top: 70px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  white-space: pre;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.product-card--discount::before {
  content: 'Акция';
  background-color: #ff411c;
}

.product-card--bestseller::before {
  content: 'Хит \0a продаж';
  background-color: #fc9a00;
  padding-top: 50px;
}

.product-card--new::before {
  content: 'Новинка';
  background-color: #39c05f;
}

.old-price {
  color: #7c7373;
  font-size: 16px;
  font-weight: 400;
  -webkit-text-decoration: line-through red;
          text-decoration: line-through red;
}

.new-price {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}

.breadcrumbs {
  max-width: 1170px;
  width: 100%;
  padding: 20px 0;
  margin: auto;
}

.breadcrumbs__home, .breadcrumbs__separator, .breadcrumbs__item {
  color: #a49f9f;
  font-family: "SourceSansPro";
  font-size: 16px;
}

.breadcrumbs__home::after {
  content: url(../img/home_icon.png);
  vertical-align: middle;
}

.breadcrumbs__separator::after {
  content: ' / ';
  white-space: pre;
}

.breadcrumbs__item--active {
  color: #2d2828;
}

.small-text-scroll {
  color: #7c7373;
  font-size: 13px;
  height: 100px;
  overflow: scroll;
  overflow-x: hidden;
}

.small-text-scroll > p {
  margin-bottom: 10px;
}

.small-text-scroll::-webkit-scrollbar {
  width: 5px;
}

.small-text-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.small-text-scroll::-webkit-scrollbar-thumb {
  background-color: #fd9b00;
  border-radius: 5px;
}

.quantity-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity-product > * {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.quantity-product__minus, .quantity-product__plus {
  background: none;
  font-size: 24px;
  font-weight: 300;
  color: #fd9b00;
}

.quantity-product__minus:hover, .quantity-product__plus:hover {
  cursor: pointer;
  color: #000;
}

.quantity-product__number {
  color: #7c7373;
  font-size: 16px;
  background-color: #f7f7f7;
  text-align: center;
}

.share-social__title {
  color: #7c7373;
  font-size: 15px;
  margin-bottom: 15px;
}

.share-social__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share-social__socials > *:not(:last-child) {
  margin-right: 15px;
}

.share-social__socials > * {
  -webkit-transition: .15s;
  transition: .15s;
}

.share-social__socials > *:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .5;
}

.tbl-product-desc tr td:first-child {
  color: #7c7373;
  font-size: 16px;
  padding-right: 30px;
}

.tbl-product-desc tr td:last-child {
  color: #292626;
  font-size: 16px;
}

.page-header {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header--p {
  padding: 30px 0;
}

.page-header--pb {
  padding-bottom: 30px;
}

.page-header__title {
  color: #292626;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

.choose-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose-sorting__intro {
  color: #7c7373;
  font-size: 16px;
  font-weight: 500;
  padding-right: 10px;
}

.choose-sorting__sorting {
  color: #292626;
  font-size: 16px;
  font-weight: 500;
}

.choose-sorting__chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}

.choose-sorting__chosen::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  margin-left: 15px;
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fd9b00;
  border-right: 2px solid #fd9b00;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.catalog-page-filter__item {
  margin-bottom: 15px;
}

.catalog-page-filter label,
.catalog-page-filter input[type='checkbox'] {
  cursor: pointer;
}

.catalog-page-filter input[type='checkbox'] {
  position: relative;
  z-index: -1;
}

.catalog-page-filter input[type='checkbox']::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #a5a5a5;
  background-color: #dfdfdf;
}

.catalog-page-filter input[type='checkbox']:checked::before {
  border: 1px solid #fc9a00;
  background-color: #ffffff;
}

.catalog-page-filter input[type='checkbox']:checked::after {
  content: '';
  display: block;
  position: relative;
  z-index: 2;
  top: 3px;
  right: 2px;
  width: 17px;
  height: 6px;
  border-bottom: 2px solid #fc9a00;
  border-left: 2px solid #fc9a00;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.catalog-page-filter input[type='checkbox']:checked + label {
  color: #fd9b00;
}

.catalog-page-filter label {
  margin-left: 20px;
  color: #7c7373;
  font-size: 18px;
}

.catalog-page-filter__group {
  margin-bottom: 25px;
}

.catalog-page-filter__title {
  display: block;
  color: #292626;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.catalog-page-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.catalog-page-products > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333% - 2px);
          flex: 0 1 calc(33.333% - 2px);
  margin-right: 2px;
  margin-bottom: 1px;
}

.catalog-page-products > *:hover {
  -webkit-box-shadow: 0 0 59px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 59px rgba(0, 0, 0, 0.1);
}

.catalog-page-products > *:nth-of-type(3n) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-right: 0;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form > * {
  vertical-align: middle;
}

.search-form__input {
  font-size: 15px;
  padding: 15px 15px 10px 15px;
  border: none;
  width: 100%;
}

.search-form__btn {
  width: 40px;
  background: url(../img/search.png) no-repeat center;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  margin-bottom: 0;
  background-color: #403c3b;
  width: 100%;
  padding-top: 30px;
}

.footer-content {
  max-width: 1170px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 360px;
}

.footer-content__logo {
  font-size: 40px;
  color: #fff;
  margin-bottom: 30px;
}

.footer-content__subscribe-text {
  color: #fefefe;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-content__subscribe-form {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.footer-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 90px;
}

.footer-catalog__title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-catalog__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-catalog__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-catalog__item {
  color: #998985;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-catalog__item:hover {
  color: #c0b2af;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-contacts__title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-contacts__phone-item {
  color: #ffffff;
}

.footer-contacts__mail {
  color: #ffffff;
}

.footer-contacts__social-item {
  margin: 0 12px 0 0;
}

.footer-bottom {
  background-color: #383434;
  margin-top: 30px;
  padding: 15px 0;
}

.footer-bottom__wrapper {
  max-width: 1170px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__menu {
  max-width: 360px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__menu-item {
  color: #8b8787;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: .15s;
  transition: .15s;
}

.footer-bottom__menu-item:hover {
  color: #c0bbbb;
}

.footer-bottom__copyright {
  color: #8b8787;
  font-size: 14px;
}
