.hero {
  background-color: #F4F2F5;
  background-image: url(../img/bg/bg-left.svg), url(../img/bg/bg-right.svg);
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  padding-top: 62px;
  padding-bottom: 70px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 992px;
    width: 100%;
  }
  &__title {
    font-family: $ffSecondary;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 64px;
  }
  &__content {
    max-width: 992px;
    width: 100%;
    display: flex;
    align-items: flex-start;

  }
  &__video {
    max-width: 600px;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    & > img {
      width: 100%;
    }
    &.not-played {
    }
    &.not-played .play-video {
      width: 100%;
      height: 100%;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__form {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}



@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 991px) {
  .hero {
    background-image: url(../img/bg/bg-right.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 15px;
    padding-left: 15px;
    &__inner {
    }
    &__title {
      margin-bottom: 28px;
      font-size: 3.75vmin;
    }
    &__content {
      align-items: center;
      flex-direction: column;
  
    }
    &__video {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    &__form {
    }
  }
}
@media (max-width: 767px) {
  .hero {
    background-image: none;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 320px) {

}