.call-form {
  &__inputs {
    margin-bottom: 40px;
  }
  &__input + &__input {
    margin-top: 8px;
  }
  &__input {
    position: relative;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: $brsCommon;
    font-size: 14px;
    & > input {
      background-color: transparent;
      padding: 16px 32px;
      max-width: none;
      width: 100%;
      border: none;
      font-family: $fontSecondary;
      font-weight: 200;
      font-size: 1em;
    }
    & > input:focus {
      outline: none;
    }
    & > input:focus + label {
      transform: translateY(-1.1em);
      font-size: 0.8em;
      color: $colorGrey2;
    }
    & > input:not(:placeholder-shown) + label {
      transform: translateY(-1.1em);
      font-size: 0.8em;
      color: $colorGrey2;
    }
    & > label {
      position: absolute;
      font-family: $fontSecondary;
      font-weight: 200;
      font-size: 1em;
      left: 32px;
      top: 16px;
      transition: $transitionMedium;
      cursor: text;
    }
  }
  &__input > .hint {
    // display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    &::after {
      content: '';
      display: block;
      color: $colorAccent;
      font-family: $fontSecondary;
    }
  }
  &__input.invalid > .hint,
  &__input.valid > .hint {
    display: flex;
  }
  &__input.invalid > .hint {
    &::after {
      content: '!';
    }
  }
  &__input.valid > .hint {
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background: url(../img/icon/ui/tick.svg) no-repeat center / contain;
    }
  }
  &__submit {
    max-width: 200px;
    padding: 9px 30px;
    font-size: 12px;
    color: $colorLight;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    margin-bottom: 18px;
  }
  &__policy {
    font-family: $fontSecondary;
    font-weight: 200;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__policy-cb {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  &__policy-cb:checked + &__policy-label {
    &::after {
      display: block;
    }
  }
  &__policy-label {
    line-height: 16px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;

    }
    &::before {
      width: 16px;
      height: 16px;
      background-color: #E9E9E9;
      left: 0;
      top: 0;
    }
    &::after {
      background: url(../img/icon/ui/tick.svg) no-repeat center / contain;
      width: 17px;
      height: 11px;
      opacity: .7;
      left: 2px;
      top: 1px;
      display: none;
    }
  }
  &__policy-text {}
}