.footer {
  position: relative;
  padding-top: 55px;
  padding-bottom: 40px;
  background-color: $colorLight;
  &__logo {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px;
    width: 100%;
  }
  &__copyright {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-family: $fontSecondary;
    font-size: 12px;
    color: #999999;
  }
  &__inner {
    display: flex;
    // justify-content: space-between;
  }
  &__left-box {
    display: flex;
    flex-basis: 50%;
  }
  &__links {
    margin-right: 70px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__links-title {
    margin-bottom: 20px;
  }
  &__links-list {
    font-family: $fontSecondary;
    font-size: 16px;
    color: $colorDark2;
    & > li {
      margin-bottom: 16px;
    }
    & > li:last-child {
      margin-bottom: 0;
    }
    & a:hover {
      text-decoration: underline;
    }
  }
  &__right-box {
    flex-basis: 50%;
    display: flex;
    padding-left: 10%;
    // padding-left: 130px;
  }
  &__call-box {
    margin-right: 90px;
    min-width: 150px;
  }
  &__call-box > &__box-title {
    margin-bottom: 30px;
  }
  &__box-title {
    margin-bottom: 13px;
    font-size: 17px;
    font-family: $fontSecondary;
    color: $colorDark2;
  }
  &__tel {
    font-size: 14px;
  }
  &__schedule {
    font-size: 12px;
    font-family: $fontSecondary;
    margin-bottom: 14px;
    color: #999999;
  }
  &__call-me {
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    color: $colorLight;
  }
  &__connect-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  &__news-form {
    max-width: 235px;
    margin-bottom: 40px;
  }
  &__social {
    flex-grow: 1;
  }
  &__social-list {}
  &__policy {
    text-decoration: underline;
    color: #999999;
    font-family: $fontSecondary;
    font-size: 12px;
  }
}


.news-form {
  position: relative;
  &__input-field {
    position: relative;
    margin-bottom: 8px;
  }
  &__input {
    width: 100%;
    max-width: none;
    background-color: #E9E9E9;
    border: none;
    font-family: $fontSecondary;
    padding: 8px 50% 8px 18px;
    font-size: 14px;
    color: $colorDark;
    &::placeholder {
      color: #999999;
    }
  }
  &__submit {
    position: absolute;
    right: 0;
    font-size: 10px;
    color: $colorLight;
    padding: 0 14px;
    height: 100%;
    cursor: pointer;
    border-radius: $brsCommon 0 0 $brsCommon;
  }
  &__policy {
    font-family: $fontSecondary;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__policy-label {
    line-height: 16px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;

    }
    &::before {
      width: 16px;
      height: 16px;
      background-color: #E9E9E9;
      left: 0;
      top: 0;
    }
    &::after {
      background: url(../img/icon/ui/tick.svg) no-repeat center / contain;
      width: 17px;
      height: 11px;
      opacity: .7;
      left: 2px;
      top: 1px;
      display: none;
    }
  }
  &__policy-cb {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  &__policy-cb:checked + &__policy-label {
    &::after {
      display: block;
    }
  }
  &__policy-text {
    
  }
}