body:not(.index-page) .header {
  margin-bottom: 88px;
}
body.catalog-page .header {
  margin-bottom: 60px;
}

.header {
  // position: absolute;
  position: relative;
  // z-index: 10;
  // top: 0;
  // left: 0;
  // right: 0;
  width: 100%;
  color: $colorLight;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 0 0 32px;  //FIXME вопрос по отступу
    // background-color: rgba(255, 255, 255, 0.2);
    background-color: #474443;
    position: relative;
  }
  &__left {
    display: flex;
    align-items: center;
  }
//MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU
//MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU
//MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU
//MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU
//MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU
  &__menu {
    width: 27px;
    height: 27px;
    margin-right: 58px;
    & svg {
      transition: .25s;
    }
    &:hover svg {
      transform: scale(1.15);
    }
  }
  &__menu.active circle {
    fill: #ffffff;
  }
  &__menu.active &__catalog {
    display: block;
    opacity: 1;
  }
  &__catalog {
    position: absolute;
    z-index: 10;
    top: 100%;
  }
//MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU
//MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU
//MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU
//MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU
//MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU
  &__geo {
    font-family: $fontSecondary;
    font-size: 16px;
    &::before {
      content: '';
      display: inline-block;
      vertical-align: baseline;
      width: 16px;
      height: 16px;
      background: url(../img/icon/ui/geo.svg) no-repeat center / cover;
      margin-right: 5px;
    }
  }
  &__logo {
    margin: 0 auto;
    max-width: 207px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__city {}
  &__actions {
    margin-right: 34px;
  }
  // &__person {}
  // &__search {}
  // &__compare {}
  &__cart {
    // background-color: $colorBiege;
    // padding: 0 70px 0 37px;
  }
  &__bottom {
    position: absolute;
    // bottom: 0;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
  }
  &__nav {
    max-width: 790px;
    width: 100%;
    margin: 0 auto;
    padding-top: 16px;
  }
  &__nav-list {}
}


.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $colorLight;
  font-family: $fontSecondary;
  font-size: 18px;
  color: $colorDark;
  &__item {
    line-height: 22px;
    padding-bottom: 4px;
    transition: $transitionMedium;
    &:hover {
      transform: translateY(-5px);
    }
  }
  &__item.current {
    border-bottom: 2px solid $colorAccent;
  }
}

.cart {
  background-color: $colorBiege;
  padding: 0 70px 0 37px;
  border-radius: $brsCommon 0px 0px $brsCommon;
  color: $colorDark;
  // position: relative;
  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
    height: 19px;
    position: relative;
  }
  &.not-empty::after {
    content: ' +' attr(data-count);
  }
  &.not-empty &__icon::after {
    content: '';
    display: block;
    height: 10px;
    width: 7px;
    background: url(../img/icon/ui/fire.svg) no-repeat center / cover;
    position: absolute;
    right: -5px;
    top: -5px;
  }
  
  &__label {
    font-size: 14px;
    line-height: 70px;
  }

}

.logo {
  &__link {

  }
  &__img {

  }
}

.actions {
  display: flex;
  align-items: center;
  &__item {
    margin-right: 20px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__btn {
    display: flex;
    height: 16px;
    width: 16px;
    width: auto;
    position: relative;
  }
  &__btn.signed::before {
    content: attr(data-user-name);
    display: inline-block;
    font-size: 14px;
    margin-right: 12px;
  }
  &__btn.not-empty::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: $colorAccent;
    position: absolute;
    right: -3px;
    top: -3px;
  }
  &__search {
    display: flex;
    align-items: center;
    position: relative;
    // bottom: px;
    height: 16px;
  }
  &__search.close {
    width: 16px;
  }
  &__search.open &__search-input {
    // display: initial;
    // width: 200px;
    transform: scaleX(1);
  }
  &__search.close &__search-input {
    transform: scaleX(0);
  }

  &__search-input {
    transform-origin: right center;
    width: 200px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E4CBB7;
    font-family: $fontSecondary;
    outline: none;
    padding-bottom: 9px;
    padding-right: 30px;
    color: #ffffff;
    font-size: 14px;
    &::placeholder {
      font-size: 14px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.2);
    }
  }
  &__search-btn {
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    bottom: 0;
    outline: none;
    padding: 0;
    width: 16px;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
}





.header-catalog {
  display: none;
  // opacity: 0;
  // transition: .15s;
  font-size: 14px;
  color: $colorDark;
  // position: absolute;

  &__menu {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 0 $brsCommon 0 0;
    min-height: 60vh;
    padding-top: 24px;
    padding-left: 35px;
    max-width: 235px;
    width: 100%;
  }
  &__item {
    padding: 11px 24px 11px 27px;
    position: relative;
    & > span {
      cursor: pointer;
    }
  }
  &__item:hover {
    text-decoration: underline;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: $brsCommon 0 0 $brsCommon;
    // line-height: 3;
  }
  &__item:hover > &__submenu {
    display: block;
  }
  &__submenu {
    display: none;
    position: absolute;
    left: 100%;
    background-color: #ffffff;
    top: 0;
    padding: 0 32px;
    padding-top: calc(1em + 20px);
    padding-bottom: calc(1em + 20px);
    max-width: 320px;
    width: 320px;
    border-radius: 0 $brsCommon $brsCommon 0;
  }
  &__subitem {
    // padding: 10px 24px 10px 18px;
    border: 1px solid transparent;
  }
  &__subitem > a {
    padding: 10px 24px 10px 18px;
    display: inline-block;
  }
  &__subitem:hover {
    border-radius: $brsCommon;
    border: 1px solid $colorDark;
  }
  &::after {
    content: '';
    display: block;
    border-left: 13px solid #f5f5f5;
    border-right: 10px solid transparent;
    border-top: 14px solid transparent;
    position: absolute;
    top: -14px;
    left: 13px;

  }
  
}