.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  display: none;
  transition: $transitionMedium;
  &.active {
    display: block;
  }
  &.showing {
    
  }
  &.hiding {

  }
  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &.showing &__overlay {
    animation: modalOverlayShow $transitionMedium ease forwards;
  }
  &.hiding &__overlay {
    animation: modalOverlayHide $transitionMedium ease forwards;
  }
  &__box {
    max-width: 440px;
    width: 100%;
    padding: 65px 85px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $colorLight;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: $brsCommon;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: $transitionMedium;
  }
  &.showing &__box {
    animation: modalBoxScaleUp $transitionMedium ease forwards;
  }
  &.hiding &__box {
    animation: modalBoxScaleDown $transitionMedium ease forwards;
  }
  &__header {
    margin-bottom: 40px;
  }
  &__title {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 9px;
  }
  &__subtitle {
    font-family: $fontSecondary;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  &__content {
    margin-bottom: 40px;
    max-width: 270px;
  }
  &__form {

  }
  &__close {
    background-color: transparent;
    border: none;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
  }
}

@keyframes modalBoxScaleUp {
  from {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes modalBoxScaleDown {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
}
@keyframes modalOverlayShow {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@keyframes modalOverlayHide {
  from {
    background-color: rgba(0, 0, 0, 0.3);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}